C#/Connected Services/PasswordMgrService/PasswordMgrService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:password="http://www.huawei.com/bme/cbsinterface/password" xmlns:common="http://www.huawei.com/bme/cbsinterface/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.huawei.com/bme/cbsinterface/password" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="PasswordMgrService?xsd=CBSInterface_Common.xsd" namespace="http://www.huawei.com/bme/cbsinterface/common" />
  <xs:complexType name="CheckPasswordRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element name="Password" type="common:Password" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangePasswordRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element name="OldPassword" type="common:Password" />
      <xs:element name="NewPassword" type="common:Password" />
      <xs:element minOccurs="0" name="HandleChargeFlag" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResetPasswordRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo">
        <xs:annotation>
          <xs:documentation>MSISDN</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NewPassword" type="common:Password" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CheckOperatorPasswordRequest">
    <xs:sequence>
      <xs:element name="OperatorId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Password" type="common:Password" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>