C#/HSAPI/Connected Services/SubmgrtMgrService/SubmgrtMgrService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:submgrt="http://www.huawei.com/bme/cbsinterface/submgrt" xmlns:common="http://www.huawei.com/bme/cbsinterface/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.huawei.com/bme/cbsinterface/submgrt" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="SubmgrtMgrService?xsd=CBSInterface_Common.xsd" namespace="http://www.huawei.com/bme/cbsinterface/common" />
  <xs:simpleType name="ValidMode">
    <xs:annotation>
      <xs:documentation>Immediately/Next bill cycle</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration id="Immediately" value="4050000" />
      <xs:enumeration id="NextBillCycle" value="4050001" />
      <xs:enumeration id="NextDay" value="4050002" />
      <xs:enumeration id="FutureDay" value="4050003" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ChangeCustBasicInforRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" type="common:Customer" />
      <xs:choice>
        <xs:element name="SubscriberNo" type="common:SubscriberNo" />
        <xs:element name="CustomerCode" type="common:CustomerCode" />
        <xs:element name="AccountCode" type="common:AccountCode" />
        <xs:element name="SubId" type="common:SubscriberCode" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeSubscriberBasicInforRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleProperty" type="common:SimpleProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeAccountBasicInforRequest">
    <xs:sequence>
      <xs:element name="Account" type="common:Account" />
      <xs:choice>
        <xs:element name="SubscriberNo" type="common:SubscriberNo" />
        <xs:element name="AccountCode" type="common:AccountCode" />
        <xs:element name="SubId" type="common:SubscriberCode" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SuppressAccountBillRequest">
    <xs:sequence>
      <xs:choice>
        <xs:element name="AccountID" type="common:AccountID" />
        <xs:element name="SubscriberNo" type="common:SubscriberNo" />
        <xs:element name="AccountCode" type="common:AccountCode" />
      </xs:choice>
      <xs:element name="OperationType" type="xs:integer">
        <xs:annotation>
          <xs:documentation>0:Cancel suppress, 1: suppress</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ReleaseDate" type="common:Date">
        <xs:annotation>
          <xs:documentation>This parameter is valid only when  OpaerationType is 1. If ReleaseDate is set. After ReleaseDate, the bill suppress will be released automatically. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeSIMRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element minOccurs="0" name="OldIMSI" type="common:IMSI" />
      <xs:element name="NewIMSI" type="common:IMSI" />
      <xs:element minOccurs="0" name="HandleChargeFlag" type="common:HandleChargeFlag" />
      <xs:element minOccurs="0" name="ICCID">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MultiSIMRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element maxOccurs="unbounded" name="ChangeSIMList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="OldIMSI" type="common:IMSI" />
            <xs:element name="NewIMSI" type="common:IMSI" />
            <xs:element name="OperationType" type="xs:int" />
            <xs:element minOccurs="0" name="HandleChargeFlag" type="common:HandleChargeFlag" />
            <xs:element minOccurs="0" name="StartDate" type="common:DateTime" />
            <xs:element minOccurs="0" name="EndDate" type="common:DateTime" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeMSISDNRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element name="NewSubscriberNo" type="common:SubscriberNo" />
      <xs:element minOccurs="0" name="SCPID" type="xs:int">
        <xs:annotation>
          <xs:documentation>Reserved</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CBPID" type="xs:int">
        <xs:annotation>
          <xs:documentation>Reserved</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AIP" type="xs:int" />
      <xs:element minOccurs="0" name="HandleChargeFlag" type="common:HandleChargeFlag" />
      <xs:element minOccurs="0" name="RebateAction">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeCreditLevelRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="subscriberID" type="common:SubscriberCode" />
      <xs:element name="subscriberNo" type="common:SubscriberNo" />
      <xs:element name="PayModeType" type="common:PaidMode">
        <xs:annotation>
          <xs:documentation>??????????????????1??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CreditLevel" type="xs:int" />
      <xs:element name="OperationType" type="xs:int">
        <xs:annotation>
          <xs:documentation>?????????????????????0???????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Credit" type="common:Balance" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeAcctBillCycleRequest">
    <xs:sequence>
      <xs:choice>
        <xs:element name="SubscriberNo" type="common:SubscriberNo" />
        <xs:element name="AccountCode" type="common:AccountCode" />
      </xs:choice>
      <xs:element name="NewBillCycleType" type="common:BillCycleType" />
      <xs:element minOccurs="0" name="ValidMode" type="submgrt:ValidMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManagePaymentRelationRequest">
    <xs:annotation>
      <xs:documentation>CBS3.3C02???????????????????????????????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element name="OperationType" type="xs:int">
        <xs:annotation>
          <xs:documentation>1???Add???2???Delete?????????????????????????????????????????????; 3- Modify,????????????Quota/?????????/?????????????????????4- Query??????????????????????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="PaymentRelation">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="AccountCode" type="common:AccountCode">
              <xs:annotation>
                <xs:documentation>???????????????????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Priority" type="xs:int">
              <xs:annotation>
                <xs:documentation>?????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Quota" type="common:Balance" />
            <xs:element minOccurs="0" name="ServiceType" type="xs:int">
              <xs:annotation>
                <xs:documentation>???????????????????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="TimeSchema" type="xs:int">
              <xs:annotation>
                <xs:documentation>?????????????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="PaymentRelKey" type="xs:string">
              <xs:annotation>
                <xs:documentation>????????????????????????????????????????????????/????????????????????????????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ShareSourceType" type="xs:int" />
            <xs:element minOccurs="0" name="QuotaNotifyID" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManagePaymentRelationResult">
    <xs:annotation>
      <xs:documentation>CBS3.3C02???????????????????????????????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PaymentRule">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AccountCode" type="common:AccountCode" />
            <xs:element name="Quota" type="common:Balance" />
            <xs:element name="Priority" type="xs:int" />
            <xs:element minOccurs="0" name="ServiceType" type="xs:int">
              <xs:annotation>
                <xs:documentation>???????????????????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="TimeSchema" type="xs:int">
              <xs:annotation>
                <xs:documentation>?????????????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="PaymentRelKey" type="xs:string">
              <xs:annotation>
                <xs:documentation>CBS?????????????????????????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ApplyTime" type="common:DateTime" />
            <xs:element name="ExpireTime" type="common:DateTime" />
            <xs:element minOccurs="0" name="ShareSourceType" type="xs:int" />
            <xs:element minOccurs="0" name="QuotaNotifyID" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BatchModifyInitBalanceRequest">
    <xs:sequence>
      <xs:element name="FileName" type="common:FileName" />
      <xs:element minOccurs="0" name="TaskTime" type="common:DateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateMNPDBRequest">
    <xs:sequence>
      <xs:element name="ChangeDate" type="common:DateTime" />
      <xs:element name="ActionType" type="xs:int" />
      <xs:element name="MSISDN">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="OldRN">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="12" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="NewRN">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="12" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateMNPDBResult" />
  <xs:complexType name="BatchModifyAcctInfoRequest">
    <xs:sequence>
      <xs:element name="FileName" type="common:FileName" />
      <xs:element name="OperationType" type="xs:int" />
      <xs:element minOccurs="0" name="TaskTime" type="common:DateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BatchModSubStateRequest">
    <xs:sequence>
      <xs:element name="FileName" type="common:FileName" />
      <xs:element name="OperationType" type="xs:int" />
      <xs:element minOccurs="0" name="TaskTime" type="common:DateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BatchMendCustomerRequest">
    <xs:sequence>
      <xs:element name="FileName" type="common:FileName" />
      <xs:element name="dealer_name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="id_type" type="xs:int" />
      <xs:element name="id_no">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="23" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="TaskTime" type="common:DateTime" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>