C#/HSAPI/Connected Services/SubmgrtMgrService/SubmgrtMgrService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:common="http://www.huawei.com/bme/cbsinterface/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.huawei.com/bme/cbsinterface/common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="CustomerID">
    <xs:restriction base="xs:string">
      <xs:maxLength value="23" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CustomerCode">
    <xs:restriction base="xs:string">
      <xs:maxLength value="23" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IDType">
    <xs:restriction base="xs:integer" />
  </xs:simpleType>
  <xs:simpleType name="IDNumber">
    <xs:restriction base="xs:string">
      <xs:maxLength value="23" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:integer">
      <xs:enumeration id="Male" value="4050000" />
      <xs:enumeration id="Female" value="4050001" />
      <xs:enumeration id="Unidentified" value="4050002" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Date">
    <xs:restriction base="xs:string">
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DateTime">
    <xs:restriction base="xs:string">
      <xs:maxLength value="14" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Week">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1" />
      <xs:enumeration id="Sunday" value="0" />
      <xs:enumeration id="Monday" value="1" />
      <xs:enumeration id="Tuesday" value="2" />
      <xs:enumeration id="Wednesday" value="3" />
      <xs:enumeration id="Thursday" value="4" />
      <xs:enumeration id="Friday" value="5" />
      <xs:enumeration id="Saturday" value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Title">
    <xs:restriction base="xs:integer" />
  </xs:simpleType>
  <xs:simpleType name="CustomerGrade">
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="Email">
    <xs:restriction base="xs:string">
      <xs:maxLength value="51" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ZipCode">
    <xs:restriction base="xs:string">
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Country">
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="AreaCode">
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="NationType">
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="JobType">
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="Education">
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="MaritalStatus">
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="AccountID">
    <xs:restriction base="xs:string">
      <xs:maxLength value="23" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AccountCode">
    <xs:restriction base="xs:string">
      <xs:maxLength value="23" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PaidMode">
    <xs:restriction base="xs:int">
      <xs:enumeration id="Prepaid" value="0" />
      <xs:enumeration id="Postpaid" value="1" />
      <xs:enumeration id="Hybrid" value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BillFlag">
    <xs:restriction base="xs:integer">
      <xs:enumeration id="Billable" value="0" />
      <xs:enumeration id="UnBillable" value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PaymentMethod">
    <xs:restriction base="xs:string">
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Balance">
    <xs:restriction base="xs:long" />
  </xs:simpleType>
  <xs:simpleType name="SubscriberNo">
    <xs:restriction base="xs:string">
      <xs:maxLength value="63" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SubscriberCode">
    <xs:restriction base="xs:string">
      <xs:maxLength value="23" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IMSI">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Password">
    <xs:restriction base="xs:string">
      <xs:maxLength value="67" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BACode">
    <xs:restriction base="xs:string">
      <xs:maxLength value="23" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OfferId">
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="OfferCode">
    <xs:restriction base="xs:string">
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OfferOrderKey">
    <xs:restriction base="xs:long" />
  </xs:simpleType>
  <xs:simpleType name="OfferOrderCode">
    <xs:restriction base="xs:string">
      <xs:maxLength value="23" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ProductId">
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="ProductCode">
    <xs:restriction base="xs:string">
      <xs:maxLength value="23" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ProductOrderKey">
    <xs:restriction base="xs:long" />
  </xs:simpleType>
  <xs:simpleType name="ServiceId">
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="BrandId">
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="FileName">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BillCycleType">
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="NetWorkType">
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="OfferType">
    <xs:restriction base="xs:int">
      <xs:enumeration id="PrimaryOffer" value="0" />
      <xs:enumeration id="OptionalOffer" value="1" />
      <xs:enumeration id="CUGOffer" value="2" />
      <xs:enumeration id="GroupOffer" value="3" />
      <xs:enumeration id="GroupMemberOffer" value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OfferLevel">
    <xs:restriction base="xs:int">
      <xs:enumeration id="SubscriberLevel" value="0" />
      <xs:enumeration id="AccountLevel" value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ProductType">
    <xs:restriction base="xs:int">
      <xs:enumeration id="AppendantServiceProduct" value="0" />
      <xs:enumeration id="AppendantTariffProduct" value="1" />
      <xs:enumeration id="IndividualIncentiveProduct" value="2" />
      <xs:enumeration id="GroupIncentiveProduct" value="3" />
      <xs:enumeration id="MainProduct" value="20" />
      <xs:enumeration id="GroupProduct" value="21" />
      <xs:enumeration id="CUGProduct" value="22" />
      <xs:enumeration id="GroupMemberProduct" value="23" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CallScreenType">
    <xs:restriction base="xs:int">
      <xs:enumeration id="BlackList" value="1" />
      <xs:enumeration id="WhiteList" value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AccountType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HandleChargeFlag">
    <xs:restriction base="xs:int">
      <xs:enumeration id="HandleChargeFree" value="0" />
      <xs:enumeration id="HandleChargeDeduct" value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OneTimeCharge">
    <xs:annotation>
      <xs:documentation>该参数仅在CBS方案中有效</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ToCredit">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="OneTimeFee">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="OperationID" type="xs:int">
                    <xs:annotation>
                      <xs:documentation>如果没有输入OperationID，则取当前业务的业务类型。例如开户业务，对开户的手续费和开户定购产品的手续费，这两种手续费的OperatoinID是不同的</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="SubTradeType" type="xs:int" />
                  <xs:element minOccurs="0" name="MainProductKey" type="common:ProductId" />
                  <xs:element minOccurs="0" name="AccessMode" type="xs:int" />
                  <xs:element minOccurs="0" name="ProductKey" type="common:ProductId" />
                  <xs:element minOccurs="0" name="ChargeAmount" type="common:Balance">
                    <xs:annotation>
                      <xs:documentation>如果没有减免，则不需要填写ChargeAmount。如果全部减免，则不需要传入该笔费用的信息</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="SubscriberNo" type="common:SubscriberNo" />
                  <xs:element minOccurs="0" name="AccountCode" type="common:AccountCode" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ToBilling">
        <xs:annotation>
          <xs:documentation>仅在iCBS界面发起的业务中，ToAR参数才有效</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SubFeeList">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="SubFeeValue">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="AcctId" type="common:AccountID" />
                        <xs:element minOccurs="0" name="SubId" type="common:SubscriberCode" />
                        <xs:element name="ItemList">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element maxOccurs="unbounded" name="ItemValue">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="ItemId">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:maxLength value="32" />
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="Amount" type="common:Balance" />
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="BusiType" type="xs:string" />
            <xs:element minOccurs="0" name="Bsno">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="20" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="ChannelId" type="xs:string" />
            <xs:element minOccurs="0" name="Remark">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="128" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="TradeTime" type="common:DateTime" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ToAR">
        <xs:annotation>
          <xs:documentation>仅在iCBS界面发起的业务中，ToAR参数才有效</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Fee2arRequestValue">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="AcctId" type="common:AccountID" />
                  <xs:element minOccurs="0" name="AcctCode" type="common:AccountCode" />
                  <xs:element name="CustId" type="common:CustomerID" />
                  <xs:element minOccurs="0" name="CustCode" type="common:CustomerCode" />
                  <xs:element minOccurs="0" name="SubId" type="common:SubscriberCode" />
                  <xs:element minOccurs="0" name="Msisdn" type="common:SubscriberNo" />
                  <xs:element minOccurs="0" name="TeleType">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="6" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="InvoiceDate" type="common:DateTime" />
                  <xs:element name="DueDate" type="common:DateTime" />
                  <xs:element name="BusiType" type="xs:string" />
                  <xs:element name="Bsno">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="20" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="isCustomer" type="xs:string" />
                  <xs:element minOccurs="0" name="ChannelId">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="32" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="Remark">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="128" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Fee2arRequestDetailList">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Fee2arRequestDetailValue">
                          <xs:complexType>
                            <xs:all>
                              <xs:element name="transType" type="xs:string">
                                <xs:annotation>
                                  <xs:documentation>预存款：ADV
押金：DEP
欠费:OS</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                              <xs:element name="productName" type="xs:string" />
                              <xs:element name="orderQty" type="xs:long" />
                              <xs:element name="backQty" type="xs:long" />
                              <xs:element name="salesQty" type="xs:long" />
                              <xs:element name="unitPrice" type="common:Balance" />
                              <xs:element name="charge" type="common:Balance" />
                              <xs:element name="discountAmt" type="common:Balance" />
                              <xs:element name="transDate" type="common:DateTime" />
                              <xs:element name="salesDate" type="common:DateTime" />
                              <xs:element name="feeItemCode" type="xs:string" />
                              <xs:element minOccurs="0" name="billCycleId" type="xs:string" />
                              <xs:element minOccurs="0" name="taxInclusive" type="xs:string" />
                              <xs:element minOccurs="0" name="glacode" type="xs:string" />
                              <xs:element minOccurs="0" name="waiveGlCode" type="xs:string" />
                              <xs:element minOccurs="0" name="rebateGlcode" type="xs:string" />
                              <xs:element minOccurs="0" name="rebateAmt" type="common:Balance" />
                              <xs:element minOccurs="0" name="resTypeId" type="xs:string" />
                              <xs:element minOccurs="0" name="resModelId" type="xs:string" />
                              <xs:element minOccurs="0" name="resId" type="xs:string" />
                              <xs:element minOccurs="0" name="resCode" type="xs:string" />
                              <xs:element minOccurs="0" name="resAmout" type="common:Balance" />
                              <xs:element minOccurs="0" name="refNo" type="xs:string" />
                              <xs:element minOccurs="0" name="feeType" type="xs:string" />
                              <xs:element minOccurs="0" name="productId" type="xs:string" />
                              <xs:element minOccurs="0" name="spCpId" type="xs:string" />
                              <xs:element minOccurs="0" name="serviceId" type="xs:string" />
                              <xs:element minOccurs="0" name="prmFlag" type="xs:string" />
                              <xs:element minOccurs="0" name="serviceType" type="xs:string" />
                              <xs:element minOccurs="0" name="serviceCategory" type="xs:string" />
                              <xs:element minOccurs="0" name="reasonCode" type="xs:string" />
                              <xs:element minOccurs="0" name="feeSubType" type="xs:string" />
                              <xs:element minOccurs="0" name="invoiceType" type="xs:string" />
                              <xs:element minOccurs="0" name="remark" type="xs:string" />
                            </xs:all>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceCtrl">
    <xs:sequence>
      <xs:element name="IsCoreBalance">
        <xs:simpleType>
          <xs:restriction base="xs:integer" />
        </xs:simpleType>
      </xs:element>
      <xs:element name="IsPromotionBal">
        <xs:simpleType>
          <xs:restriction base="xs:integer" />
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SimpleProperty">
    <xs:sequence>
      <xs:element name="Id">
        <xs:annotation />
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Value">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SessionEntityType">
    <xs:sequence>
      <xs:element name="Name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Password" type="common:Password" />
      <xs:element name="RemoteAddress">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="23" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestHeader">
    <xs:annotation>
      <xs:documentation>for user information use(add,modify,delete)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CommandId">
        <xs:annotation>
          <xs:documentation>(*Message command ID. OCS provide special value according special interface)*)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Version">
        <xs:annotation>
          <xs:documentation>(*Version ID,current version is 1(CRM is always 1)*)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="TransactionId">
        <xs:annotation>
          <xs:documentation>(*Transaction ID,used to compound session, default null (CRM is always null)*) </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SequenceId">
        <xs:annotation>
          <xs:documentation> (*Sequence ID,used to compound session,default 1(CRM is always 1)*)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="RequestType">
        <xs:annotation>
          <xs:documentation>(*valid to compound session, default value is None, enumerate values as follows:
Event, not compound session type
Start, session begin
Continue,session continue
Stop, session stop.
(CRM  is always Event)*)
</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
            <xs:enumeration id="Event" value="Event" />
            <xs:enumeration id="Start" value="Start" />
            <xs:enumeration id="Continue" value="Continue" />
            <xs:enumeration id="Stop" value="Stop" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="TenantId" type="xs:integer" />
      <xs:element minOccurs="0" name="Language" type="xs:string" />
      <xs:element minOccurs="0" name="SessionEntity" type="common:SessionEntityType">
        <xs:annotation>
          <xs:documentation>for security use
it is optional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="InterFrom">
        <xs:annotation>
          <xs:documentation>the source of interface:
4050000 for BSS
4050001 for Bank
4050002 for SP
......
it is optional</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="InterMode">
        <xs:annotation>
          <xs:documentation>The mode of interface
4050000 for Face to Face
4050001 for  Website
4050002 for  IVR
......
it is optional</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="InterMedi">
        <xs:annotation>
          <xs:documentation>Interaction Media
if Website then give URL
if IVR then give access number</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="23" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="visitArea">
        <xs:annotation>
          <xs:documentation>visit area
Only IVR is useful
it is optional</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="23" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="currentCell">
        <xs:annotation>
          <xs:documentation>The current cell of calling
Only IVR is useful
it is optional</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="23" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="additionInfo">
        <xs:annotation>
          <xs:documentation>addition information
it is optional
if bank then bankcode
if SP then Spcode</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="23" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ThirdPartyID">
        <xs:annotation>
          <xs:documentation>reserve parameter 1
it is optional</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="Reserve2" type="xs:string">
        <xs:annotation>
          <xs:documentation>resend data sync request, 0 or null indicates sync is not needed, 1 indicates sync is needed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Reserve3" type="xs:string">
        <xs:annotation>
          <xs:documentation>reserve parameter 3
it is optional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PartnerID">
        <xs:annotation>
          <xs:documentation>Partner id,this parameter is used for fill the information of the partner when the session is generated by carrier 
it is optional</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="23" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="OperatorID">
        <xs:annotation>
          <xs:documentation>CRM system operator id
it is optional</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="TradePartnerID">
        <xs:annotation>
          <xs:documentation>partner id,this parameter is used for fill the information of partner when the session is generated by partner 
it is optional</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="23" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="PartnerOperID">
        <xs:annotation>
          <xs:documentation>partner operaor id
it is optional</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="23" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BelToAreaID">
        <xs:annotation>
          <xs:documentation>belong to area
it is optional</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SerialNo">
        <xs:annotation>
          <xs:documentation>CRM system request serial number</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="Remark">
        <xs:annotation>
          <xs:documentation>The remark information about this operation, it is optional</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultHeader">
    <xs:sequence>
      <xs:element name="CommandId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Version">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="TransactionId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SequenceId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ResultCode">
        <xs:annotation>
          <xs:documentation>Indicates a code of success/failure, failure reasons.                              405000000: success                Other values: failure reasons</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ResultDesc">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1024" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:long">
        <xs:annotation>
          <xs:documentation>CBS系统受理的订单号</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="OperationTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="Reserve1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="Reserve2">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="Reserve3">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="256" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="TenantId" type="xs:integer" />
      <xs:element minOccurs="0" name="Language" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="MiddleName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="LastName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="CustomerID" type="common:CustomerID" />
      <xs:element minOccurs="0" name="CustomerCode" type="common:CustomerCode" />
      <xs:element minOccurs="0" name="IdType" nillable="true" type="common:IDType" />
      <xs:element minOccurs="0" name="IdCode" type="common:IDNumber" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="common:Gender" />
      <xs:element minOccurs="0" name="Birthday" type="common:Date" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="common:Title" />
      <xs:element minOccurs="0" name="Salary" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HomeAddress">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="254" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="Grade" nillable="true" type="common:CustomerGrade" />
      <xs:element minOccurs="0" name="Email" type="common:Email" />
      <xs:element minOccurs="0" name="ZipCode" type="common:ZipCode" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="common:Country" />
      <xs:element minOccurs="0" name="NativePlace" nillable="true" type="common:AreaCode" />
      <xs:element minOccurs="0" name="NationType" nillable="true" type="common:NationType" />
      <xs:element minOccurs="0" name="JobType" nillable="true" type="common:JobType" />
      <xs:element minOccurs="0" name="Education" nillable="true" type="common:Education" />
      <xs:element minOccurs="0" name="MaritalStatus" nillable="true" type="common:MaritalStatus" />
      <xs:element minOccurs="0" name="Skill">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="254" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="SocialNo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="31" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="CreditGrade" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CreditAmount" nillable="true" type="common:Balance" />
      <xs:element minOccurs="0" name="CustomerState" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ContactNumber1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ContactNumber2">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ContactNumber3">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ContactNumber4">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ContactNumber5">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="SystemNofityNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="23" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="HomePhone">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="WorkPhone">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BelToAreaID">
        <xs:annotation>
          <xs:documentation>Reserved</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="PostAddress1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="PostAddress2">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="PostAddress3">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="PostAddress4">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="PostAddress5">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="Remark">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="254" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="LangType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TimeZone" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleProperty" type="common:SimpleProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="MiddleName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="LastName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="AccountID" type="common:AccountID" />
      <xs:element minOccurs="0" name="AccountCode" type="common:AccountCode" />
      <xs:element minOccurs="0" name="PaidMode" nillable="true" type="common:PaidMode">
        <xs:annotation>
          <xs:documentation>0-Prepaid,1-Postpaid,2-Hybrid</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PaymentMethod">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BillFlag" nillable="true" type="common:BillFlag" />
      <xs:element minOccurs="0" name="Title" type="xs:int" />
      <xs:element minOccurs="0" name="BillAddress1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BillAddress2">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BillAddress3">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BillAddress4">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BillAddress5">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ZipCode" type="common:ZipCode" />
      <xs:element minOccurs="0" name="BillLang">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="EmailBillAddr">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="SMSBillLang">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="SMSBillAddr">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BankAcctNo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BankID">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BankName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BankAcctName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BankAccType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BankAcctActiveDate" type="common:DateTime" />
      <xs:element minOccurs="0" name="CardExpiryDate" type="common:DateTime" />
      <xs:element minOccurs="0" name="SFID">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="63" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="SPID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CCGroup" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CCSubGroup" type="xs:int" />
      <xs:element minOccurs="0" name="VATNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="PrintVATNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DueDate" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PPSAcctInitBal" type="common:Balance" />
      <xs:element minOccurs="0" name="PPSAcctCredit" type="common:Balance" />
      <xs:element minOccurs="0" name="POSAcctInitBal" type="common:Balance" />
      <xs:element minOccurs="0" name="POSAcctCredit" type="common:Balance" />
      <xs:element minOccurs="0" name="ContactTel">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="DCCallForward" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleProperty" type="common:SimpleProperty" />
      <xs:element minOccurs="0" name="BillCycleCredit" type="common:Balance" />
      <xs:element minOccurs="0" name="CreditCtrlMode" type="xs:int" />
      <xs:element minOccurs="0" name="LoyaltyCardNo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="AutoReloadFlag" type="xs:int" />
      <xs:element minOccurs="0" name="IsFlaudAccount" type="xs:int" />
      <xs:element minOccurs="0" name="AccDebtControlFlag">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="AccDebtControlBeginTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="AccDebtControlEndTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="AutoPayPassStartTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="AutoPayPassEndTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="Mainsubscriberkey" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Subscriber">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element minOccurs="0" name="MainProductId" type="common:ProductId" />
      <xs:element minOccurs="0" name="SubscriberCode" type="common:SubscriberCode" />
      <xs:element minOccurs="0" name="BelToAreaID">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="IMSI" type="common:IMSI" />
      <xs:element minOccurs="0" name="Password" type="common:Password" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleProperty" type="common:SimpleProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctChgRecType">
    <xs:all>
      <xs:element name="CurrAcctBal" nillable="true" type="common:Balance" />
      <xs:element name="ChgAcctBal" nillable="true" type="common:Balance" />
      <xs:element name="CurrExpTime" type="common:DateTime" />
      <xs:element name="ChgExpTime" type="xs:int" />
      <xs:element name="AccountType" nillable="true" type="common:AccountType" />
      <xs:element minOccurs="0" name="AccountTypeDescription">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ApplyTime" type="common:DateTime" />
      <xs:element name="BalanceId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="MinMeasureId" nillable="true" type="xs:int" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="BindSubscriberNo">
    <xs:all>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element name="SubscriberNoType" type="xs:int" />
      <xs:element minOccurs="0" name="IMSI" type="common:IMSI" />
      <xs:element minOccurs="0" name="ApplyTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="ExpireTime" type="common:DateTime" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="BAAddrInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Title">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="23" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="FirstName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="MiddleName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="LastName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BillAddress1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BillAddress2">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BillAddress3">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BillAddress4">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BillAddress5">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="City">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ZipCode" type="common:ZipCode" />
      <xs:element minOccurs="0" name="EmailBillAddr">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="128" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="SMSBillAddr">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BillLang">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BAScenario">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountCode" type="common:AccountCode" />
      <xs:element minOccurs="0" name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element name="SCEN_ID" type="xs:long" />
      <xs:element minOccurs="0" name="ApplyTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="ExpireTime" type="common:DateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BADelivery">
    <xs:sequence>
      <xs:element name="MediumID" type="xs:int" />
      <xs:element minOccurs="0" name="BillLang">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="PayAccountCode" type="common:AccountCode" />
      <xs:element minOccurs="0" name="ApplyTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="ExpireTime" type="common:DateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrimaryCond">
    <xs:sequence>
      <xs:element name="ParaType" type="xs:int">
        <xs:annotation>
          <xs:documentation>表明取值来源，1：事件属性；2：客户属性；3：产品属性</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ParaCode" type="xs:string" />
      <xs:element name="ParaOper" type="xs:int">
        <xs:annotation>
          <xs:documentation>操作符 0：==；1：!= </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ParaValue" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>