C#/Connected Services/AAAInterface/xsd0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:common="http://www.huawei.com/bme/aaainterface/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.huawei.com/bme/aaainterface/common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestHeader">
    <xs:sequence>
      <xs:element name="CommandId" type="xs:string">
        <xs:annotation>
          <xs:documentation>(*Message command ID. OCS provide special value according special interface)*)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Version" type="xs:string">
        <xs:annotation>
          <xs:documentation>(*Version ID,current version is 1(CRM is always 1)*)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransactionId" type="xs:string">
        <xs:annotation>
          <xs:documentation>(*Transaction ID,used to compound session, default null (CRM is always null)*) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SequenceId" type="xs:string">
        <xs:annotation>
          <xs:documentation> (*Sequence ID,used to compound session,default 1(CRM is always 1)*)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RequestType">
        <xs:annotation>
          <xs:documentation>(*valid to compound session, default value is None, enumerate values as follows:
Event, not compound session type
Start, session begin
Continue,session continue
Stop, session stop.
(CRM  is always Event)*)
</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Event" />
            <xs:enumeration value="Start" />
            <xs:enumeration value="Continue" />
            <xs:enumeration value="Stop" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="SessionEntity" type="common:SessionEntityType">
        <xs:annotation>
          <xs:documentation>for security use
it is optional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="InterFrom" type="xs:string">
        <xs:annotation>
          <xs:documentation>the source of interface:
4050000 for BSS
4050001 for Bank
4050002 for SP
......
it is optional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="InterMode" type="xs:string">
        <xs:annotation>
          <xs:documentation>The mode of interface
4050000 for Face to Face
4050001 for  Website
4050002 for  IVR
......
it is optional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="InterMedi" type="xs:string">
        <xs:annotation>
          <xs:documentation>Interaction Media
if Website then give URL
if IVR then give access number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="visitArea" type="xs:string">
        <xs:annotation>
          <xs:documentation>visit area
Only IVR is useful
it is optional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="currentCell" type="xs:string">
        <xs:annotation>
          <xs:documentation>The current cell of calling
Only IVR is useful
it is optional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="additionInfo" type="xs:string">
        <xs:annotation>
          <xs:documentation>addition information
it is optional
if bank then bankcode
if SP then Spcode</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ThirdPartyID" type="xs:int">
        <xs:annotation>
          <xs:documentation>reserve parameter 1
it is optional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Reserve2" type="xs:string">
        <xs:annotation>
          <xs:documentation>reserve parameter 2
it is optional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Reserve3" type="xs:string">
        <xs:annotation>
          <xs:documentation>reserve parameter 3
it is optional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PartnerID" type="xs:string">
        <xs:annotation>
          <xs:documentation>Partner id,this parameter is used for fill the information of the partner when the session is generated by carrier 
it is optional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="OperatorID" type="xs:string">
        <xs:annotation>
          <xs:documentation>CRM system operator id
it is optional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TradePartnerID" type="xs:string">
        <xs:annotation>
          <xs:documentation>partner id,this parameter is used for fill the information of partner when the session is generated by partner 
it is optional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PartnerOperID" type="xs:string">
        <xs:annotation>
          <xs:documentation>partner operaor id
it is optional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="BelToAreaID" type="xs:string">
        <xs:annotation>
          <xs:documentation>belong to area
it is optional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SerialNo" type="xs:string">
        <xs:annotation>
          <xs:documentation>CRM system request serial number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Remark" type="xs:string">
        <xs:annotation>
          <xs:documentation>The remark information about this operation, it is optional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Locale" type="xs:string">
        <xs:annotation>
          <xs:documentation>The Locale information about this operation, it is optional</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultHeader">
    <xs:sequence>
      <xs:element name="CommandId" type="xs:string" />
      <xs:element name="Version" type="xs:string" />
      <xs:element name="TransactionId" type="xs:string" />
      <xs:element name="SequenceId" type="xs:string" />
      <xs:element name="ResultCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>Indicates a code of success/failure, failure reasons.                              405000000: success                Other values: failure reasons</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ResultDesc" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SessionEntityType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" />
      <xs:element name="Password" type="xs:string" />
      <xs:element name="RemoteAddress" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>