C#/HSAPI/Connected Services/AAAInterface/xsd1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:business="http://www.huawei.com/bme/aaainterface/cbs/businessmgr" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.huawei.com/bme/aaainterface/cbs/businessmgr" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="APMACInfo">
    <xs:sequence>
      <xs:element name="APMAC" type="xs:string" />
      <xs:element minOccurs="0" name="APName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SyncAPMACRequest">
    <xs:sequence>
      <xs:element name="OperationType" type="xs:int" />
      <xs:element maxOccurs="500" name="APMACInfo" type="business:APMACInfo" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>