C#/HSAPI/Connected Services/QueryMgrService/QueryMgrService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:common="http://www.huawei.com/bme/cbsinterface/common" xmlns:acctcredit="http://www.huawei.com/bme/cbsinterface/acctcredit" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.huawei.com/bme/cbsinterface/acctcredit" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="QueryMgrService?xsd=CBSInterface_CommonFor33.xsd" namespace="http://www.huawei.com/bme/cbsinterface/common" />
  <xs:complexType name="CreditType">
    <xs:sequence>
      <xs:element name="Amount" type="common:Balance" />
      <xs:element name="ApplyTime" type="common:DateTime" />
      <xs:element name="ExpireTime" type="common:DateTime" />
      <xs:element name="CreditKey" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManAcctCreditRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcctId" type="common:AccountID" />
      <xs:element minOccurs="0" name="AcctCode" type="common:AccountCode" />
      <xs:element minOccurs="0" name="SubId" type="common:SubscriberCode" />
      <xs:element minOccurs="0" name="Msisdn" type="common:SubscriberNo" />
      <xs:element name="ObjectType" type="xs:int" />
      <xs:element name="OperType" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="common:Balance" />
      <xs:element minOccurs="0" name="ApplyTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="ExpireTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="Creditkey" type="xs:long" />
      <xs:element minOccurs="0" name="ValidMode" type="xs:int" />
      <xs:element minOccurs="0" name="ExtCreditKey">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve" />
            <xs:maxLength value="64" />
            <xs:minLength value="0" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManAcctSubCreditSwitchRequest">
    <xs:sequence>
      <xs:element name="Msisdn" type="common:SubscriberNo" />
      <xs:element name="OperType" type="xs:int" />
      <xs:element minOccurs="0" name="BillCycleCreditAmount" type="common:Balance" />
      <xs:element minOccurs="0" name="SubTempCreditAmount" type="common:Balance" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManSubCreditRequest">
    <xs:sequence>
      <xs:element name="Msisdn" type="common:SubscriberNo" />
      <xs:element name="ObjectType" type="xs:int" />
      <xs:element name="OperType" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="common:Balance" />
      <xs:element minOccurs="0" name="EffDate" type="common:DateTime" />
      <xs:element minOccurs="0" name="ExpireDate" type="common:DateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryAcctSubCreditRequest">
    <xs:sequence>
      <xs:choice>
        <xs:element minOccurs="0" name="Msisdn" type="common:SubscriberNo" />
        <xs:element minOccurs="0" name="AcctCode" type="common:AccountCode" />
      </xs:choice>
      <xs:element name="ObjectType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryAcctSubCreditResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="InitialCredit" type="common:Balance" />
      <xs:element minOccurs="0" name="BillCycleCredit" type="common:Balance" />
      <xs:element minOccurs="0" name="TempCredit" type="common:Balance" />
      <xs:element minOccurs="0" name="UnbilledAmount" type="common:Balance" />
      <xs:element minOccurs="0" name="AvailableCredit" type="common:Balance" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryAcctCreditRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcctId" type="common:AccountID" />
      <xs:element minOccurs="0" name="AcctCode" type="common:AccountCode" />
      <xs:element minOccurs="0" name="SubId" type="common:SubscriberCode" />
      <xs:element minOccurs="0" name="Msisdn" type="common:SubscriberNo" />
      <xs:element minOccurs="0" name="ObjectType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryAcctCreditResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InitialCredit" type="acctcredit:CreditType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillCycleCredit" type="acctcredit:CreditType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TempCreditList" type="acctcredit:CreditType" />
      <xs:element minOccurs="0" name="TotalCreditLimit" type="common:Balance" />
      <xs:element minOccurs="0" name="InitialCreditAmt" type="common:Balance" />
      <xs:element minOccurs="0" name="AvailableCredit" type="common:Balance" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BatchModifyInitCreditRequest">
    <xs:sequence>
      <xs:element name="IdentifierType" type="xs:int" />
      <xs:element name="FileName" type="common:FileName" />
      <xs:element minOccurs="0" name="TaskTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="ObjectType" type="xs:int" />
      <xs:element minOccurs="0" name="CreditObject" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>