C#/Connected Services/QueryMgrService/QueryMgrService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:newsubscriber="http://www.huawei.com/bme/cbsinterface/newsubscriber" xmlns:common="http://www.huawei.com/bme/cbsinterface/common" xmlns:acctcredit="http://www.huawei.com/bme/cbsinterface/acctcredit" xmlns:subscribe="http://www.huawei.com/bme/cbsinterface/subscribe" xmlns:query="http://www.huawei.com/bme/cbsinterface/query" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.huawei.com/bme/cbsinterface/query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="QueryMgrService?xsd=CBSInterface_Subscribe.xsd" namespace="http://www.huawei.com/bme/cbsinterface/subscribe" />
  <xs:import schemaLocation="QueryMgrService?xsd=CBSInterface_CommonFor33.xsd" namespace="http://www.huawei.com/bme/cbsinterface/common" />
  <xs:import schemaLocation="QueryMgrService?xsd=CBSInterface_AcctCredit.xsd" namespace="http://www.huawei.com/bme/cbsinterface/acctcredit" />
  <xs:complexType name="Accumulator">
    <xs:sequence>
      <xs:element name="CumulateID" type="xs:int" />
      <xs:element name="CumulateBeginTime" type="common:DateTime" />
      <xs:element name="CumulateEndTime" type="common:DateTime" />
      <xs:element name="CumulativeAmt" type="common:Balance" />
      <xs:element minOccurs="0" name="MinMeasureId" type="xs:int" />
      <xs:element minOccurs="0" name="AccumulatorType" type="xs:int" />
      <xs:element minOccurs="0" name="NextAllowanceAmt" type="common:Balance" />
      <xs:element minOccurs="0" name="AccumulatorName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BillingCycleDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillCycleOpenDate" type="common:DateTime" />
      <xs:element minOccurs="0" name="BillCycleEndDate" type="common:DateTime" />
      <xs:element minOccurs="0" name="BillCycleType" type="common:BillCycleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserGroup">
    <xs:sequence>
      <xs:element name="GroupID" type="xs:int" />
      <xs:element name="GroupName">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="63" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductOrderInfo">
    <xs:sequence>
      <xs:element name="Id" type="common:ProductId" />
      <xs:element name="ProductOrderKey" type="common:ProductOrderKey" />
      <xs:element name="OfferId" type="common:OfferId" />
      <xs:element name="OfferOrderKey" type="common:OfferOrderKey" />
      <xs:element name="EffectiveTime" type="common:DateTime" />
      <xs:element name="ExpireTime" type="common:DateTime" />
      <xs:element name="Status">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="7" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleProperty" type="common:SimpleProperty" />
      <xs:element minOccurs="0" name="CurCycleStartTime" type="common:DateTime">
        <xs:annotation>
          <xs:documentation>?????????????????????????????????????????????????????????????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CurCycleEndTime" type="common:DateTime">
        <xs:annotation>
          <xs:documentation>?????????????????????????????????????????????????????????????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="BillStatus" type="xs:int">
        <xs:annotation>
          <xs:documentation>???????????????????????????????????????????????????????????????????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriberInfo">
    <xs:sequence>
      <xs:element name="PrimaryOfferId" type="common:OfferId" />
      <xs:element name="PrimaryOfferOrderKey" type="common:OfferOrderKey" />
      <xs:element name="MainProductId" type="common:ProductId" />
      <xs:element name="NetworkType" type="xs:int" />
      <xs:element name="BrandID" type="xs:int" />
      <xs:element name="PaidMode" type="common:PaidMode" />
      <xs:element minOccurs="0" name="IMSI" type="common:IMSI" />
      <xs:element minOccurs="0" name="ComponentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SubscriberCode" type="common:SubscriberCode" />
      <xs:element name="AccountCode" type="common:AccountCode">
        <xs:annotation>
          <xs:documentation>???????????????????????????Code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleProperty" type="common:SimpleProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BalanceType">
    <xs:sequence>
      <xs:element name="BalanceId" type="xs:long" />
      <xs:element name="AccountType" type="common:AccountType" />
      <xs:element minOccurs="0" name="MinMeasureId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountTypeDescription">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Amount" type="common:Balance" />
      <xs:element name="AccountCredit" type="common:Balance" />
      <xs:element minOccurs="0" name="ApplyTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="ExpireTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="RelatedType" type="xs:int" />
      <xs:element minOccurs="0" name="RelatedObjectID" type="xs:long" />
      <xs:element minOccurs="0" name="InitialAmount" type="common:Balance" />
      <xs:element minOccurs="0" name="OfferOrderCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="23" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ReserveAmount" type="common:Balance" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryCustomerRequest">
    <xs:sequence>
      <xs:choice>
        <xs:element name="SubscriberNo" type="common:SubscriberNo" />
        <xs:element name="AccountCode" type="common:AccountCode" />
        <xs:element name="CustomerCode" type="common:CustomerCode" />
        <xs:element name="SubId" type="common:SubscriberCode" />
      </xs:choice>
      <xs:element minOccurs="0" name="QueryType" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerMask">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="AccountMask">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="SubscriberMask">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="OfferIdStartRange1" type="common:OfferId" />
      <xs:element minOccurs="0" name="OfferIdEndRange1" type="common:OfferId" />
      <xs:element minOccurs="0" name="OfferIdStartRange2" type="common:OfferId" />
      <xs:element minOccurs="0" name="OfferIdEndRange2" type="common:OfferId" />
      <xs:element minOccurs="0" name="OfferIdStartRange3" type="common:OfferId" />
      <xs:element minOccurs="0" name="OfferIdEndRange3" type="common:OfferId" />
      <xs:element minOccurs="0" name="OfferIdStartRange4" type="common:OfferId" />
      <xs:element minOccurs="0" name="OfferIdEndRange4" type="common:OfferId" />
      <xs:element minOccurs="0" name="OfferIdStartRange5" type="common:OfferId" />
      <xs:element minOccurs="0" name="OfferIdEndRange5" type="common:OfferId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryCustomerResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="CustomerInfo" type="common:Customer" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Offer">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="subscribe:OfferOrderInfo">
                    <xs:sequence>
                      <xs:element name="LevelCode" type="common:OfferLevel" />
                      <xs:element name="OfferType" type="common:OfferType" />
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="BundleSubscriber">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="SubscriberNo" type="common:SubscriberNo" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="0" name="PrimaryOfferOrderKey" type="common:OfferOrderKey">
                        <xs:annotation>
                          <xs:documentation>???????????????????????????????????????????????????????????????????????????ID</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="AccumulatorList">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="Accumulator" type="query:Accumulator" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AccountKey" type="xs:long" />
            <xs:element minOccurs="0" name="AccountInfo">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="common:Account">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="IsCustShareAcct" type="xs:boolean" />
                      <xs:element minOccurs="0" name="CashOnlyFlag" type="xs:boolean" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="BillingCycleDate" type="query:BillingCycleDate" />
            <xs:element minOccurs="0" name="BalanceRecordList">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Balance" type="query:BalanceType" />
                  <xs:element minOccurs="0" name="BalanceValidity" type="common:Date" />
                  <xs:element minOccurs="0" name="AvailableCredit" type="common:Balance" />
                  <xs:element minOccurs="0" name="BalanceActiveDate" type="common:Date" />
                  <xs:element minOccurs="0" name="AvailableQuota" type="common:Balance">
                    <xs:annotation>
                      <xs:documentation>??????????????????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="AccountState">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ActiveStop" type="common:Date" />
                  <xs:element minOccurs="0" name="SuspendStop" type="common:Date" />
                  <xs:element minOccurs="0" name="DisableStop" type="common:Date" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="OfferList">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="Offer" type="subscribe:OfferOrderInfo" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="ProductList">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="Product" type="query:ProductOrderInfo" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="AccountCredit">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="InitialCredit" type="acctcredit:CreditType" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="BillCycleCredit" type="acctcredit:CreditType" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="TempCreditList" type="acctcredit:CreditType" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="HStryOweBillCycle">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="10" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Subscriber">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SubscriberNo" type="common:SubscriberNo" />
            <xs:element minOccurs="0" name="SubscriberInfo" type="query:SubscriberInfo" />
            <xs:element minOccurs="0" name="SubscriberState">
              <xs:complexType>
                <xs:all>
                  <xs:element minOccurs="0" name="FirstActiveDate" type="common:DateTime" />
                  <xs:element minOccurs="0" name="ActiveCAC">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="10" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="ActiveStop" type="common:Date" />
                  <xs:element minOccurs="0" name="SuspendStop" type="common:Date" />
                  <xs:element minOccurs="0" name="DisableStop" type="common:Date" />
                  <xs:element minOccurs="0" name="LifeCycleState" nillable="true" type="xs:int" />
                  <xs:element name="DPFlag" nillable="true" type="xs:int">
                    <xs:annotation>
                      <xs:documentation>??????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="FraudState" nillable="true" type="xs:int" />
                  <xs:element minOccurs="0" name="LossFlag" nillable="true" type="xs:int" />
                  <xs:element minOccurs="0" name="DPEndDate" type="common:DateTime" />
                  <xs:element minOccurs="0" name="DPFlag1" nillable="true" type="xs:int">
                    <xs:annotation>
                      <xs:documentation>??????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="DPFlag2" nillable="true" type="xs:int">
                    <xs:annotation>
                      <xs:documentation>??????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="LastActiveDate" type="common:Date" />
                  <xs:element minOccurs="0" name="POSUserState" nillable="true" type="xs:int" />
                  <xs:element minOccurs="0" name="ETUFraudState" nillable="true" type="xs:int" />
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="UserGroupList">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="UserGroup" type="query:UserGroup" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="AccumulatorList">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="Accumulator" type="query:Accumulator" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Service">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Id" type="common:ServiceId" />
                  <xs:element minOccurs="0" name="Status" type="xs:int" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleProperty" type="common:SimpleProperty" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="OfferList" nillable="true">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Offer" type="subscribe:OfferOrderInfo" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="ProductList">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="Product" type="query:ProductOrderInfo" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="SubAttachedInfo">
              <xs:complexType>
                <xs:all>
                  <xs:element minOccurs="0" name="ChgMainProductTimes" nillable="true" type="xs:int" />
                  <xs:element minOccurs="0" name="ChgMainPackageTimes" nillable="true" type="xs:int" />
                  <xs:element minOccurs="0" name="LoanAmout" nillable="true" type="common:Balance" />
                  <xs:element minOccurs="0" name="LoanPoundage" nillable="true" type="common:Balance" />
                  <xs:element minOccurs="0" name="ETUReceiveAmt" nillable="true" type="common:Balance" />
                  <xs:element minOccurs="0" name="ETUGracePeriod" type="common:DateTime" />
                  <xs:element minOccurs="0" name="UnpaidFee" type="common:Balance" />
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="ReasonCode">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="30" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryBalanceRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element minOccurs="0" name="HandleChargeFlag" type="common:HandleChargeFlag" />
      <xs:element minOccurs="0" name="QueryType" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceType" type="xs:int">
        <xs:annotation>
          <xs:documentation>1: Voice
2: SMS
3: GPRS
4: Money
5: IDD
</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryBalanceResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceRecord" type="query:BalanceType" />
      <xs:element minOccurs="0" name="BalanceValidity" type="common:Date" />
      <xs:element minOccurs="0" name="AvailableCredit" type="common:Balance" />
      <xs:element minOccurs="0" name="BalanceActiveDate" type="common:Date" />
      <xs:element minOccurs="0" name="AvailableQuota" type="common:Balance">
        <xs:annotation>
          <xs:documentation>??????????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="UnpaidFee" type="common:Balance" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>