C#/Connected Services/StatemgrtMgrService/CBSInterface_StateMgrt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:statemgrt="http://www.huawei.com/bme/cbsinterface/statemgrt" xmlns:common="http://www.huawei.com/bme/cbsinterface/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.huawei.com/bme/cbsinterface/statemgrt" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="CBSInterface_Common.xsd" namespace="http://www.huawei.com/bme/cbsinterface/common" />
  <xs:complexType name="SuspendRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element name="OperateType" type="xs:int" />
      <xs:element minOccurs="0" name="SuspendDays" type="xs:int" />
      <xs:element minOccurs="0" name="HandleChargeFlag" type="common:HandleChargeFlag" />
      <xs:element minOccurs="0" name="Status">
        <xs:annotation>
          <xs:documentation>Reserved</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ReasonCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReconnectRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element name="OperateType" type="xs:int" />
      <xs:element minOccurs="0" name="Status">
        <xs:annotation>
          <xs:documentation>Reserved</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ReasonCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ReconnExpireDate" type="common:DateTime" />
      <xs:element minOccurs="0" name="ReconnectRentFlag" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClaimMissingRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DisclaimMissingRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModifySubscriberValidityRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element name="ValidityIncrement" type="xs:int" />
      <xs:element minOccurs="0" name="ModifyType">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="Merchant" type="xs:string">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Service" type="xs:string">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Reserve" type="xs:string">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SUSCHGDAYS" type="xs:int" />
      <xs:element minOccurs="0" name="DISCHGDAYS" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModifySubscriberValidityResult">
    <xs:sequence>
      <xs:element name="LifeCycleState" nillable="true" type="xs:int" />
      <xs:element name="ActiveStop" type="common:Date" />
      <xs:element name="SuspendStop" type="common:Date" />
      <xs:element name="DisableStop" type="common:Date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryAdjustValidityLogRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element minOccurs="0" name="StartTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="EndTime" type="common:DateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryAdjustValidityLogResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdjustValidityLog">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TradeTime" type="common:DateTime" />
            <xs:element minOccurs="0" name="ModifyType">
              <xs:simpleType>
                <xs:restriction base="xs:int">
                  <xs:enumeration value="0" />
                  <xs:enumeration value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="ValidityIncrement" type="xs:int" />
            <xs:element minOccurs="0" name="OperatorID">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="24" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="OldActiveStop" type="common:Date" />
            <xs:element name="NewActiveStop" type="common:Date" />
            <xs:element name="OldSuspendStop" type="common:Date" />
            <xs:element name="NewSuspendStop" type="common:Date" />
            <xs:element name="OldDisableStop" type="common:Date" />
            <xs:element name="NewDisableStop" type="common:Date" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuerySubChangeLogRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element minOccurs="0" name="StartTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="EndTime" type="common:DateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuerySubChangeLogResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="SubChangeLogList">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="SubChangeLog">
              <xs:complexType>
                <xs:all>
                  <xs:element name="MainProductID" type="common:ProductId" />
                  <xs:element name="OldState">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="11" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="NewState">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="11" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="OperType" type="xs:int" />
                  <xs:element name="Operator">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="24" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="OperTime" type="common:DateTime" />
                  <xs:element name="OldPrepaidBal" type="common:Balance" />
                  <xs:element name="NewPrepaidBal" type="common:Balance" />
                  <xs:element name="OldPospaidBal" type="common:Balance" />
                  <xs:element name="NewPospaidBal" type="common:Balance" />
                  <xs:element name="NewActiveStop" type="common:Date" />
                  <xs:element name="OldActiveStop" type="common:Date" />
                  <xs:element minOccurs="0" name="OldValue" type="xs:string" />
                  <xs:element minOccurs="0" name="NewValue" type="xs:string" />
                </xs:all>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManageETUFraudStateRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element minOccurs="0" name="OperationType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BalanceToValidityRequest">
    <xs:all>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element minOccurs="0" name="LogID">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DeductionAmt" type="common:Balance" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="BalanceToValidityResult">
    <xs:all>
      <xs:element name="AcctChgRec" type="common:AcctChgRecType" />
      <xs:element name="NewActiveStop" type="common:Date" />
      <xs:element name="NewSuspendStop" type="common:Date" />
      <xs:element name="NewDisableStop" type="common:Date" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ModifyLastActiveDateRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element name="NewLastActiveDate" type="common:Date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BatchModLastActDateRequest">
    <xs:sequence>
      <xs:element name="FileName" type="common:FileName" />
      <xs:element minOccurs="0" name="TaskTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="ModifyType" type="xs:int" />
      <xs:element minOccurs="0" name="NewLastActDate" type="common:Date" />
      <xs:element minOccurs="0" name="IncrementDays" type="xs:int" />
      <xs:element minOccurs="0" name="OperationDes">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BatchModifySubValidityRequest">
    <xs:sequence>
      <xs:element name="FileName" type="common:FileName" />
      <xs:element name="ValidityIncrement" type="xs:int" />
      <xs:element minOccurs="0" name="ModifyType" type="xs:int" />
      <xs:element minOccurs="0" name="SUSCHGDAYS" type="xs:int" />
      <xs:element minOccurs="0" name="DISCHGDAYS" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateType" type="xs:int" />
      <xs:element minOccurs="0" name="TaskTime" type="common:DateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangingSubscriberStatusRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element name="OperateType" type="xs:int" />
      <xs:element minOccurs="0" name="HandleChargeFlag" type="common:HandleChargeFlag" />
      <xs:element name="TargetStatus">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuerySereveStatusRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuerySereveStatusResult">
    <xs:sequence>
      <xs:element name="CurStatReason" type="xs:string" />
      <xs:element name="CurrentStatus" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>