C#/HSAPI/Connected Services/CashRechargeMgrServiceByRecharge/CashRechargeMgrService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://www.huawei.com/bme/cbsinterface/cashrecharge" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://www.huawei.com/bme/cbsinterface/common" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:cashrechargemgr="http://www.huawei.com/bme/cbsinterface/cashrechargemgr" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.huawei.com/bme/cbsinterface/cashrechargemgr" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cashrecharge="http://www.huawei.com/bme/cbsinterface/cashrecharge" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.huawei.com/bme/cbsinterface/cashrechargemgr">
      <xs:import schemaLocation="CashRechargeMgrService?xsd=CBSInterface_CashRecharge.xsd" namespace="http://www.huawei.com/bme/cbsinterface/cashrecharge" />
      <xs:element name="PaymentRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="PaymentRequest" type="cashrecharge:PaymentRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PaymentResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="PaymentResult" type="cashrecharge:PaymentResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReversePaymentRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="ReversePaymentRequest" type="cashrecharge:ReversePaymentRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReversePaymentResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="ReversePaymentResult" type="cashrecharge:ReversePaymentResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ActiveFirstRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="ActiveFirstRequest" type="cashrecharge:ActiveFirstRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ActiveFirstResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PaymentEnquiryRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="PaymentEnquiryRequest" type="cashrecharge:PaymentEnquiryRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PaymentEnquiryResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="PaymentEnquiryResult" type="cashrecharge:PaymentEnquiryResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BatchActiveFirstRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="BatchActiveFirstRequest" type="cashrecharge:BatchActiveFirstRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BatchActiveFirstResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BatchCashRechargeRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="BatchCashRechargeRequest" type="cashrecharge:BatchCashRechargeRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BatchCashRechargeResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CashRechargeRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="CashRechargeRequest" type="cashrecharge:CashRechargeRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CashRechargeResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="CashRechargeResult" type="cashrecharge:CashRechargeResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="PaymentResultMessage">
    <part name="PaymentResultMsg" element="cashrechargemgr:PaymentResultMsg" />
  </message>
  <message name="PaymentEnquiryResultMessage">
    <part name="PaymentEnquiryResultMsg" element="cashrechargemgr:PaymentEnquiryResultMsg" />
  </message>
  <message name="PaymentEnquiryRequestMessage">
    <part name="PaymentEnquiryRequestMsg" element="cashrechargemgr:PaymentEnquiryRequestMsg" />
  </message>
  <message name="ActiveFirstRequestMessage">
    <part name="ActiveFirstRequestMsg" element="cashrechargemgr:ActiveFirstRequestMsg" />
  </message>
  <message name="CashRechargeResultMessage">
    <part name="CashRechargeResultMsg" element="cashrechargemgr:CashRechargeResultMsg" />
  </message>
  <message name="BatchActiveFirstRequestMessage">
    <part name="BatchActiveFirstRequestMsg" element="cashrechargemgr:BatchActiveFirstRequestMsg" />
  </message>
  <message name="ActiveFirstResultMessage">
    <part name="ActiveFirstResultMsg" element="cashrechargemgr:ActiveFirstResultMsg" />
  </message>
  <message name="PaymentRequestMessage">
    <part name="PaymentRequestMsg" element="cashrechargemgr:PaymentRequestMsg" />
  </message>
  <message name="BatchCashRechargeRequestMessage">
    <part name="BatchCashRechargeRequestMsg" element="cashrechargemgr:BatchCashRechargeRequestMsg" />
  </message>
  <message name="ReversePaymentRequestMessage">
    <part name="ReversePaymentRequestMsg" element="cashrechargemgr:ReversePaymentRequestMsg" />
  </message>
  <message name="CashRechargeRequestMessage">
    <part name="CashRechargeRequestMsg" element="cashrechargemgr:CashRechargeRequestMsg" />
  </message>
  <message name="ReversePaymentResultMessage">
    <part name="ReversePaymentResultMsg" element="cashrechargemgr:ReversePaymentResultMsg" />
  </message>
  <message name="BatchActiveFirstResultMessage">
    <part name="BatchActiveFirstResultMsg" element="cashrechargemgr:BatchActiveFirstResultMsg" />
  </message>
  <message name="BatchCashRechargeResultMessage">
    <part name="BatchCashRechargeResultMsg" element="cashrechargemgr:BatchCashRechargeResultMsg" />
  </message>
  <portType name="CashRechargeMgr">
    <operation name="Payment">
      <input message="cashrechargemgr:PaymentRequestMessage" />
      <output message="cashrechargemgr:PaymentResultMessage" />
    </operation>
    <operation name="ReversePayment">
      <input message="cashrechargemgr:ReversePaymentRequestMessage" />
      <output message="cashrechargemgr:ReversePaymentResultMessage" />
    </operation>
    <operation name="ActiveFirst">
      <input message="cashrechargemgr:ActiveFirstRequestMessage" />
      <output message="cashrechargemgr:ActiveFirstResultMessage" />
    </operation>
    <operation name="PaymentEnquiry">
      <input message="cashrechargemgr:PaymentEnquiryRequestMessage" />
      <output message="cashrechargemgr:PaymentEnquiryResultMessage" />
    </operation>
    <operation name="BatchActiveFirst">
      <input message="cashrechargemgr:BatchActiveFirstRequestMessage" />
      <output message="cashrechargemgr:BatchActiveFirstResultMessage" />
    </operation>
    <operation name="BatchCashRecharge">
      <input message="cashrechargemgr:BatchCashRechargeRequestMessage" />
      <output message="cashrechargemgr:BatchCashRechargeResultMessage" />
    </operation>
    <operation name="cashRecharge">
      <input message="cashrechargemgr:CashRechargeRequestMessage" />
      <output message="cashrechargemgr:CashRechargeResultMessage" />
    </operation>
  </portType>
  <binding name="CashRechargeMgrBinding" type="cashrechargemgr:CashRechargeMgr">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Payment">
      <soap:operation soapAction="Payment" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReversePayment">
      <soap:operation soapAction="ReversePayment" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ActiveFirst">
      <soap:operation soapAction="ActiveFirst" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PaymentEnquiry">
      <soap:operation soapAction="PaymentEnquiry" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BatchActiveFirst">
      <soap:operation soapAction="BatchActiveFirst" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BatchCashRecharge">
      <soap:operation soapAction="BatchCashRecharge" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cashRecharge">
      <soap:operation soapAction="cashRecharge" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="CashRechargeMgrSoap12Binding" type="cashrechargemgr:CashRechargeMgr">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Payment">
      <soap12:operation soapAction="Payment" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="ReversePayment">
      <soap12:operation soapAction="ReversePayment" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="ActiveFirst">
      <soap12:operation soapAction="ActiveFirst" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="PaymentEnquiry">
      <soap12:operation soapAction="PaymentEnquiry" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="BatchActiveFirst">
      <soap12:operation soapAction="BatchActiveFirst" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="BatchCashRecharge">
      <soap12:operation soapAction="BatchCashRecharge" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="cashRecharge">
      <soap12:operation soapAction="cashRecharge" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
  </binding>
  <service name="CashRechargeMgrService">
    <port name="CashRechargeMgrServiceSoap12Port" binding="cashrechargemgr:CashRechargeMgrSoap12Binding">
      <soap12:address location="http://10.13.121.226:7781/services/CashRechargeMgrService.CashRechargeMgrServiceSoap12Port/" />
    </port>
    <port name="CashRechargeMgrServicePort" binding="cashrechargemgr:CashRechargeMgrBinding">
      <soap:address location="http://10.13.121.226:7781/services/CashRechargeMgrService.CashRechargeMgrServicePort/" />
    </port>
  </service>
</definitions>