C#/Connected Services/CardRechargeMgrService/CBSInterface_CardRecharge.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:subscribe="http://www.huawei.com/bme/cbsinterface/subscribe" xmlns:cardrecharge="http://www.huawei.com/bme/cbsinterface/cardrecharge" xmlns:common="http://www.huawei.com/bme/cbsinterface/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.huawei.com/bme/cbsinterface/cardrecharge" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="CBSInterface_Subscribe.xsd" namespace="http://www.huawei.com/bme/cbsinterface/subscribe" />
  <xs:import schemaLocation="CBSInterface_Common.xsd" namespace="http://www.huawei.com/bme/cbsinterface/common" />
  <xs:complexType name="VoucherRechargeRequest">
    <xs:all>
      <xs:element minOccurs="0" name="LogID">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element name="CardPinNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="RechargeType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="AccountType" type="common:AccountType" />
      <xs:element minOccurs="0" name="Location">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="CellID">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="PaymentMode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BankCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="12" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="DepositType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ChannelID" type="xs:int" />
      <xs:element minOccurs="0" name="AccountCode" type="common:AccountCode" />
      <xs:element minOccurs="0" name="CallingNumber" type="common:SubscriberNo" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="VoucherRechargeResult">
    <xs:sequence>
      <xs:element name="FaceValue" nillable="true" type="common:Balance" />
      <xs:element name="NewBalance" nillable="true" type="common:Balance" />
      <xs:element name="NewActiveStop" type="common:Date" />
      <xs:element name="ValidityPeriod" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BalanceAfterRecharge" nillable="true" type="common:Balance" />
      <xs:element minOccurs="0" name="NewSuspendStopDate" type="common:Date" />
      <xs:element minOccurs="0" name="NewDisableStopDate" type="common:Date" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RechargeBonus">
        <xs:complexType>
          <xs:all>
            <xs:element name="PrmAcctType" nillable="true" type="common:AccountType" />
            <xs:element name="PrmAmt" nillable="true" type="common:Balance" />
            <xs:element minOccurs="0" name="CurrAcctBal" nillable="true" type="common:Balance" />
            <xs:element minOccurs="0" name="CurrExpTime" type="common:DateTime" />
            <xs:element minOccurs="0" name="ChgExpTime" type="xs:integer" />
            <xs:element minOccurs="0" name="AccountTypeDescription">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="64" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="ApplyTime" type="common:DateTime" />
            <xs:element minOccurs="0" name="BalanceId" nillable="true" type="xs:long" />
            <xs:element minOccurs="0" name="MinMeasureId" type="xs:integer" />
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ExtraValidity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LoanAmount" nillable="true" type="common:Balance" />
      <xs:element minOccurs="0" name="LoanPoundage" nillable="true" type="common:Balance" />
      <xs:element minOccurs="0" name="LoanRecovered" nillable="true" type="common:Balance" />
      <xs:element minOccurs="0" name="BalanceValidity" type="common:Date" />
      <xs:element minOccurs="0" name="BalanceValidityPeriod" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BalanceActiveDate" type="common:Date" />
      <xs:element minOccurs="0" name="UserDays" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OfferList" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Offer" type="subscribe:OfferOrderInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VoucherRechargeEnquiryRequest">
    <xs:all>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element minOccurs="0" name="RechargeType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="StartTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="EndTime" type="common:DateTime" />
      <xs:element minOccurs="0" name="RechargeResult" type="xs:int" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="VoucherRechargeEnquiryResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RechargeLog">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SubscriberNo" type="common:SubscriberNo" />
            <xs:element name="SubCosID" nillable="true" type="xs:int" />
            <xs:element name="TradeTime" type="common:DateTime" />
            <xs:element name="ErrorType" type="xs:int" />
            <xs:element name="RechargeType">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="10" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Batch">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="20" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Sequence">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="20" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="CardCosID" nillable="true" type="xs:int" />
            <xs:element name="OldActiveStop" type="common:Date" />
            <xs:element name="NewActiveStop" type="common:Date" />
            <xs:element name="OldSuspendStop" type="common:Date" />
            <xs:element name="NewSuspendStop" type="common:Date" />
            <xs:element name="OldDisableStop" type="common:Date" />
            <xs:element name="NewDisableStop" type="common:Date" />
            <xs:element name="OldBalance" nillable="true" type="common:Balance" />
            <xs:element name="NewBalance" nillable="true" type="common:Balance" />
            <xs:element name="RechargeAmt" nillable="true" type="common:Balance" />
            <xs:element minOccurs="0" name="Currency" type="xs:int" />
            <xs:element name="Validity" nillable="true" type="xs:int" />
            <xs:element name="PrmValidity" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="RechargeBonus">
              <xs:complexType>
                <xs:all>
                  <xs:element name="PrmAcctType" nillable="true" type="common:AccountType" />
                  <xs:element name="PrmAmt" nillable="true" type="common:Balance" />
                  <xs:element minOccurs="0" name="CurrPrmAcctBalance" nillable="true" type="common:Balance" />
                  <xs:element minOccurs="0" name="ChgExpTime" type="xs:integer" />
                  <xs:element minOccurs="0" name="ApplyTime" type="common:DateTime" />
                  <xs:element minOccurs="0" name="ExpiryTime" type="common:DateTime" />
                  <xs:element minOccurs="0" name="MinMeasureId" type="xs:integer" />
                  <xs:element minOccurs="0" name="AccountTypeDescription">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="64" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="OperatorID">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="24" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="RechargeTax" nillable="true" type="common:Balance" />
            <xs:element minOccurs="0" name="RechargePenalty" nillable="true" type="common:Balance" />
            <xs:element minOccurs="0" name="CallingPartyNo" type="common:SubscriberNo" />
            <xs:element minOccurs="0" name="CardSPID" type="xs:int" />
            <xs:element minOccurs="0" name="OldPOSBalance" nillable="true" type="common:Balance" />
            <xs:element minOccurs="0" name="NewPOSBalance" nillable="true" type="common:Balance" />
            <xs:element minOccurs="0" name="LoanAmount" nillable="true" type="common:Balance" />
            <xs:element minOccurs="0" name="LoanPoundage" nillable="true" type="common:Balance" />
            <xs:element minOccurs="0" name="AccountCode" type="common:AccountCode" />
            <xs:element minOccurs="0" name="BalanceValidity" type="common:Date" />
            <xs:element minOccurs="0" name="BalanceValidityPeriod" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="BalanceActiveDate" type="common:Date" />
            <xs:element minOccurs="0" name="UserDays" nillable="true" type="xs:int" />
            <xs:element minOccurs="0" name="BalanceAfterRecharge" nillable="true" type="common:Balance" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ResultFileName" type="common:FileName" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VoucherEnquiryBySeqRequest">
    <xs:all>
      <xs:element name="Sequence">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="VoucherEnquiryBySeqResult">
    <xs:all>
      <xs:element name="Sequence">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="BatchNo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FaceValue" nillable="true" type="common:Balance" />
      <xs:element name="Currency">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CardCosID">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CardStartDate" type="common:Date" />
      <xs:element name="CardStopDate" type="common:Date" />
      <xs:element name="HotCardFlag" nillable="true" type="xs:int" />
      <xs:element name="OprDateTime" type="common:DateTime" />
      <xs:element name="OprType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ChargeNumber" type="common:SubscriberNo" />
      <xs:element name="TradeTime" type="common:DateTime" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="VoucherEnquiryByPINRequest">
    <xs:all>
      <xs:element name="CardPinNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="VoucherEnquiryByPINResult">
    <xs:all>
      <xs:element name="Sequence">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="BatchNo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FaceValue" nillable="true" type="common:Balance" />
      <xs:element name="Currency">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CardCosID">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CardStartDate" type="common:Date" />
      <xs:element name="CardStopDate" type="common:Date" />
      <xs:element name="HotCardFlag" nillable="true" type="xs:int" />
      <xs:element name="OprDateTime" type="common:DateTime" />
      <xs:element name="OprType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ChargeNumber" type="common:SubscriberNo" />
      <xs:element name="TradeTime" type="common:DateTime" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ModifyVoucherStateRequest">
    <xs:sequence>
      <xs:element name="Sequence">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="CardFlag" type="xs:int" />
      <xs:element minOccurs="0" name="Reason">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VoucherRechargeBySeqRequest">
    <xs:all>
      <xs:element minOccurs="0" name="LogID" type="xs:string" />
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element name="CardSequence">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="AccountType" type="common:AccountType" />
      <xs:element minOccurs="0" name="Location" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="VoucherRechargeBySeqResult">
    <xs:sequence>
      <xs:element name="FaceValue" nillable="true" type="common:Balance" />
      <xs:element name="NewBalance" nillable="true" type="common:Balance" />
      <xs:element name="NewActiveStop" type="common:Date" />
      <xs:element name="ValidityPeriod" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RechargeBonus">
        <xs:complexType>
          <xs:all>
            <xs:element name="PrmAcctType" nillable="true" type="common:AccountType" />
            <xs:element name="PrmAmt" nillable="true" type="common:Balance" />
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeleteRechageBlackRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element minOccurs="0" name="OperationType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BatchDeleteRechageBlackRequest">
    <xs:sequence>
      <xs:element name="FileName" type="common:FileName" />
      <xs:element minOccurs="0" name="OperationType" type="xs:int" />
      <xs:element minOccurs="0" name="TaskTime" type="common:DateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddRechageBlackRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryRechargeBlackRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryRechargeBlackResult">
    <xs:sequence>
      <xs:element name="RechargeBlackFlag" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>