C#/HSAPI/Connected Services/ArServices/ArServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="QueryRechargeLogRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustAccessCode" type="arcommon:CustAccessCode" />
      <xs:element name="QueryObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PayType" type="arcommon:string64" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RechargeChannelIDs">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="RechargeChannelID" type="arcommon:string64" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TotalRowNum" type="xs:long" />
      <xs:element name="BeginRowNum" type="xs:long" />
      <xs:element name="FetchRowNum" type="xs:long" />
      <xs:element name="StartTime" type="xs:string" />
      <xs:element name="EndTime" type="xs:string" />
      <xs:element minOccurs="0" name="ExtTransID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty">
        <xs:annotation>
          <xs:documentation>It is reserved for future extension</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryRechargeLogResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RechargeInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TradeTime" type="xs:string" />
            <xs:element name="AcctKey" type="xs:string" />
            <xs:element minOccurs="0" name="SubKey" type="xs:string" />
            <xs:element minOccurs="0" name="PrimaryIdentity" type="xs:string" />
            <xs:element name="TransID" type="xs:long" />
            <xs:element minOccurs="0" name="ExtTransID" type="xs:string" />
            <xs:element name="RechargeAmount" type="xs:long" />
            <xs:element name="CurrencyID" type="xs:integer" />
            <xs:element minOccurs="0" name="OriAmount" type="xs:long" />
            <xs:element minOccurs="0" name="OriCurrencyID" type="xs:integer" />
            <xs:element minOccurs="0" name="CurrencyRate" type="xs:float" />
            <xs:element minOccurs="0" name="RechargeTax" type="xs:long" />
            <xs:element minOccurs="0" name="RechargePenalty" type="xs:long" />
            <xs:element name="RechargeType" type="xs:string">
              <xs:annotation>
                <xs:documentation>0: card Recharge
1: cash Recharge</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ExtRechargeType" type="xs:string" />
            <xs:element minOccurs="0" name="CardInfo">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="CardPinNumber" type="xs:string" />
                  <xs:element minOccurs="0" name="CardSequence" type="xs:string" />
                  <xs:element minOccurs="0" name="CardType" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="BankInfo" type="arcommon:BankInfo" />
            <xs:element minOccurs="0" name="RechargeChannelID" type="xs:string" />
            <xs:element minOccurs="0" name="RechargeReason" type="xs:string" />
            <xs:element minOccurs="0" name="OperID" type="xs:long" />
            <xs:element minOccurs="0" name="DeptID" type="xs:long" />
            <xs:element name="ResultCode" type="xs:string">
              <xs:annotation>
                <xs:documentation>0: Success
other:  failed</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ReversalFlag" type="xs:string">
              <xs:annotation>
                <xs:documentation>0: not reversal
1: reversal</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ReversalReason" type="xs:string" />
            <xs:element minOccurs="0" name="ReversalOpID" type="xs:long" />
            <xs:element minOccurs="0" name="ReversalDeptID" type="xs:long" />
            <xs:element minOccurs="0" name="ReversalTime" type="xs:string" />
            <xs:element minOccurs="0" name="LifeCycleChgInfo">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="OldLifeCycleStatus">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="StatusName" type="xs:string" />
                        <xs:element name="StatusExpireTime" type="xs:string" />
                        <xs:element name="StatusIndex" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" name="NewLifeCycleStatus">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="StatusName" type="xs:string" />
                        <xs:element name="StatusExpireTime" type="xs:string" />
                        <xs:element name="StatusIndex" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="ChgValidity" type="xs:integer" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceChgInfo" type="arcommon:BalanceChgInfo" />
            <xs:element minOccurs="0" name="RechargeBonus">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="FreeUnitItemList">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="FreeUnitID" type="xs:string" />
                        <xs:element name="FreeUnitType" type="xs:string" />
                        <xs:element minOccurs="0" name="FreeUnitTypeName" type="xs:string" />
                        <xs:element name="MeasureUnit" type="xs:string" />
                        <xs:element minOccurs="0" name="MeasureUnitName" type="xs:string" />
                        <xs:element name="BonusAmt" nillable="true" type="xs:long" />
                        <xs:element name="EffectiveTime" type="xs:string" />
                        <xs:element name="ExpireTime" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceList">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="BalanceType" type="xs:string" />
                        <xs:element minOccurs="0" name="BalanceID" type="xs:string" />
                        <xs:element name="BalanceTypeName" type="xs:string" />
                        <xs:element name="BonusAmt" type="xs:long" />
                        <xs:element name="CurrencyID" type="xs:integer" />
                        <xs:element name="EffectiveTime" type="xs:string" />
                        <xs:element name="ExpireTime" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Bonusofferlist">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Offeringid" type="arcommon:OfferingKey" />
                        <xs:element name="OwnerType" type="xs:string" />
                        <xs:element name="OwnerKey" type="xs:string" />
                        <xs:element name="EffectiveTime" type="xs:string" />
                        <xs:element name="ExpireTime" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty">
              <xs:annotation>
                <xs:documentation>It is reserved for future extension</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditChgInfo" type="arcommon:CreditChgInfo" />
            <xs:element minOccurs="0" name="Remark" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TotalRowNum" type="xs:long" />
      <xs:element name="BeginRowNum" type="xs:long" />
      <xs:element name="FetchRowNum" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>