C#/HSAPI/Connected Services/ArServices/ArServices31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="QueryInvoicePaymentRequest">
    <xs:sequence>
      <xs:element name="InvoiceNo" type="xs:string" />
      <xs:choice minOccurs="0">
        <xs:element name="AcctAccessCode">
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="arcommon:AcctAccessCode">
                <xs:sequence>
                  <xs:element minOccurs="0" name="PayType" type="arcommon:string64" />
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="TimePeriod">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="StartTime" type="xs:string" />
              <xs:element name="EndTime" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:sequence minOccurs="0">
        <xs:element name="TotalRowNum" type="xs:long" />
        <xs:element name="BeginRowNum" type="xs:long" />
        <xs:element name="FetchRowNum" type="xs:long" />
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryInvoicePaymentResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoicePaymentInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PaymentTime" type="xs:string" />
            <xs:element name="PaymentAmount" type="xs:long" />
            <xs:element name="ApplyAmount" type="xs:long" />
            <xs:element name="CurrencyID" type="xs:integer" />
            <xs:element name="TransID" type="xs:string" />
            <xs:element minOccurs="0" name="TransType" type="xs:string" />
            <xs:element minOccurs="0" name="ExtPayType" type="xs:string" />
            <xs:element minOccurs="0" name="PaymentMethod" type="xs:string" />
            <xs:element minOccurs="0" name="CardInfo">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="CardPinNumber" type="xs:string" />
                  <xs:element minOccurs="0" name="CardSequence" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="BankInfo" type="arcommon:BankInfo" />
            <xs:element minOccurs="0" name="PayChannelID" type="xs:string" />
            <xs:element minOccurs="0" name="AccessMode" type="xs:string" />
            <xs:element name="Status" type="xs:string" />
            <xs:element minOccurs="0" name="OperID" type="xs:long" />
            <xs:element minOccurs="0" name="DeptID" type="xs:long" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:sequence minOccurs="0">
        <xs:element name="TotalRowNum" type="xs:long" />
        <xs:element name="BeginRowNum" type="xs:long" />
        <xs:element name="FetchRowNum" type="xs:long" />
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
</xs:schema>