C#/HSAPI/Connected Services/ArServices/ArServices9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="RefundRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="RefundSerialNo" type="xs:string" />
      <xs:element name="RefundObj">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PayType" type="arcommon:string64" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="RefundInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RefundType" type="xs:string" />
            <xs:element minOccurs="0" name="PaymentSerialNo" type="xs:string" />
            <xs:element minOccurs="0" name="DepositType" type="xs:string" />
            <xs:element minOccurs="0" name="Amount" type="xs:long" />
            <xs:element minOccurs="0" name="CurrencyID" type="xs:integer" />
            <xs:element minOccurs="0" name="RefundReasonCode" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="RefundChannel">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PaymentMethod" type="xs:string" />
            <xs:element minOccurs="0" name="BankInfo" type="arcommon:BankInfo" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty">
              <xs:annotation>
                <xs:documentation>It is reserved for future extension</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty">
        <xs:annotation>
          <xs:documentation>It is reserved for future extension</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RefundResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="RefundSerialNo">
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>