C#/HSAPI/Connected Services/ArServices/ArServices23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="QueryDepositBalanceRequest">
    <xs:sequence>
      <xs:element name="QueryObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PayType" type="arcommon:string64" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="DepositType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryDepositBalanceResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepositBalanceList">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AcctKey" type="xs:string" />
            <xs:element name="CreditID" type="xs:string" />
            <xs:element name="DepositType" type="xs:string" />
            <xs:element name="Amount" type="xs:long" />
            <xs:element name="InitialAmount" type="xs:long" />
            <xs:element name="CurrencyID" type="xs:integer" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="DepositOrigin">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="TransID" type="xs:string" />
                  <xs:element minOccurs="0" name="PaymentMethod" type="xs:string" />
                  <xs:element minOccurs="0" name="PayChannelID" type="xs:string" />
                  <xs:element name="Amount" type="xs:long" />
                  <xs:element minOccurs="0" name="OperID" type="xs:long" />
                  <xs:element minOccurs="0" name="DeptID" type="xs:long" />
                  <xs:element name="EntryDate" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>