C#/HSAPI/Connected Services/ArServices/ArServices12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="BalanceShiftRequest">
    <xs:sequence>
      <xs:element name="TransferorAcct">
        <xs:complexType>
          <xs:choice>
            <xs:element name="AccountCode" type="xs:string" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="TransfereeAcct">
        <xs:complexType>
          <xs:choice>
            <xs:element name="AccountCode" type="xs:string" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BalanceShiftResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Transferor">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="BalanceChgInfo" type="arcommon:BalanceChgInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Transferee">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="BalanceChgInfo" type="arcommon:BalanceChgInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>