C#/HSAPI/Connected Services/ArServices/ArServices13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="BalancetoValidRequest">
    <xs:sequence>
      <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
      <xs:element name="ExchangeAmt" type="xs:long" />
      <xs:element minOccurs="0" name="ExtendDays" type="xs:long" />
      <xs:element minOccurs="0" name="HandlingChargeFlag" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty">
        <xs:annotation>
          <xs:documentation>It is reserved for future extension</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BalancetoValidResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExchangeHandleFee" type="xs:long" />
      <xs:element name="LifeCycleChgInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="OldLifeCycleStatus">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="StatusName" type="xs:string" />
                  <xs:element name="StatusExpireTime" type="xs:string" />
                  <xs:element name="StatusIndex" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="NewLifeCycleStatus">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="StatusName" type="xs:string" />
                  <xs:element name="StatusExpireTime" type="xs:string" />
                  <xs:element name="StatusIndex" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="ChgValidity" type="xs:integer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="BalanceChgInfo" type="arcommon:BalanceChgInfo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty">
        <xs:annotation>
          <xs:documentation>It is reserved for future extension</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>