C#/HSAPI/Connected Services/ArServices/ArServices32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cbscommon="http://www.huawei.com/bme/cbsinterface/cbscommon" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.huawei.com/bme/cbsinterface/cbscommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>message header</xs:documentation>
  </xs:annotation>
  <xs:complexType name="SecurityInfo">
    <xs:sequence>
      <xs:element name="LoginSystemCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>It is request system code which is defined in CBS.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Password" type="xs:string" />
      <xs:element minOccurs="0" name="RemoteIP">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="23" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperatorInfo">
    <xs:sequence>
      <xs:element name="OperatorID" type="xs:string">
        <xs:annotation>
          <xs:documentation>The operator ID which is defined in both CBS system and request system.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ChannelID" type="xs:string">
        <xs:annotation>
          <xs:documentation>It is channel ID which the operator belongs to</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnershipInfo">
    <xs:sequence>
      <xs:element name="BEID">
        <xs:annotation>
          <xs:documentation>The Business Entity ID which the customer belongs to</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:maxInclusive value="2147483647" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="BRID" type="xs:long">
        <xs:annotation>
          <xs:documentation>The Business Region ID which the customer belongs to.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestHeader">
    <xs:sequence>
      <xs:element name="Version" type="xs:string">
        <xs:annotation>
          <xs:documentation>Version ID of CBS interface</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="BusinessCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>Business operation code from request system (For example: function code in CRM system).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MessageSeq" type="xs:string">
        <xs:annotation>
          <xs:documentation>Unique sequence number for one message. If request system resend a message, this field should be unchanged.
For example: CRM can use "OrderID + OrderNodeID" as this field.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="OwnershipInfo" type="cbscommon:OwnershipInfo" />
      <xs:element name="AccessSecurity" type="cbscommon:SecurityInfo">
        <xs:annotation>
          <xs:documentation>It is for security authentication for request system. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="OperatorInfo" type="cbscommon:OperatorInfo">
        <xs:annotation>
          <xs:documentation>It indicates the operator information of the request.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AccessMode" type="xs:string" />
      <xs:element minOccurs="0" name="MsgLanguageCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>It is used to specify the language of description in returen message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TimeFormat">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TimeType" type="xs:string" />
            <xs:element minOccurs="0" name="TimeZoneID" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty">
        <xs:annotation>
          <xs:documentation>Reserved for future extention</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Code" type="xs:string">
              <xs:annotation />
            </xs:element>
            <xs:element name="Value" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultHeader">
    <xs:sequence>
      <xs:element name="Version" type="xs:string">
        <xs:annotation>
          <xs:documentation>Version ID of CBS interface</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>0: success                              Other values: failure code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MsgLanguageCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>It is used to specify the language of description in returen message.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultDesc" type="xs:string">
        <xs:annotation>
          <xs:documentation>The brief description of result code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty">
        <xs:annotation>
          <xs:documentation>Reserved for future extention</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Code" type="xs:string">
              <xs:annotation />
            </xs:element>
            <xs:element name="Value" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="MessageSeq" type="xs:string">
        <xs:annotation>
          <xs:documentation>Unique sequence number for one message. If request system resend a message, this field should be unchanged.
For example: CRM can use "OrderID + OrderNodeID" as this field.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>