C#/HSAPI/Connected Services/ArServices/ArServices11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="QueryTotalBalanceRequest">
    <xs:sequence>
      <xs:element name="QueryObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode" />
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryTotalBalanceResult">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="BalanceList">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OutStandingAmount" type="xs:long" />
            <xs:element name="Prepayment" type="xs:long" />
            <xs:element name="AvailableCreditLimit" type="xs:long" />
            <xs:element name="PendingAmount" type="xs:long" />
            <xs:element name="DepositAmount" type="xs:long" />
            <xs:element name="DisputedAmount" type="xs:long" />
            <xs:element name="UnbilledAmount" type="xs:long" />
            <xs:element name="LateFee" type="xs:long" />
            <xs:element name="OutStandingDepositAmount" type="xs:long" />
            <xs:element name="OverDueAmount" type="xs:long" />
            <xs:element name="CurrencyID" type="xs:integer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AccountKey" type="xs:string" />
      <xs:element name="AccountCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>