C#/HSAPI/Connected Services/ArServices/ArServices29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:annotation>
    <xs:documentation>Recharge</xs:documentation>
  </xs:annotation>
  <xs:complexType name="RechargeRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="RechargeSerialNo" type="xs:string" />
      <xs:element minOccurs="0" name="RechargeType" type="arcommon:string64" />
      <xs:element minOccurs="0" name="RechargeChannelID" type="arcommon:string64" />
      <xs:element name="RechargeObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PayType" type="arcommon:string64" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="RechargeInfo">
        <xs:complexType>
          <xs:choice>
            <xs:element name="CardPayment">
              <xs:complexType>
                <xs:choice>
                  <xs:element name="CardPinNumber" type="xs:string" />
                  <xs:element name="CardSequence" type="xs:string" />
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="CashPayment">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="PaymentMethod" type="xs:string" />
                  <xs:element name="Amount" type="xs:long" />
                  <xs:element minOccurs="0" name="BankInfo" type="arcommon:BankInfo" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="CurrencyID" type="xs:integer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty">
        <xs:annotation>
          <xs:documentation>It is reserved for future extension</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RechargeResult">
    <xs:sequence>
      <xs:element name="RechargeSerialNo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceChgInfo" type="arcommon:BalanceChgInfo" />
      <xs:element minOccurs="0" name="LoanChgInfo" type="arcommon:LoanChgInfo" />
      <xs:element minOccurs="0" name="RechargeBonus">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="FreeUnitItemList">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="FreeUnitID" type="xs:string" />
                  <xs:element name="FreeUnitType" type="xs:string" />
                  <xs:element minOccurs="0" name="FreeUnitTypeName" type="xs:string" />
                  <xs:element name="MeasureUnit" type="xs:string" />
                  <xs:element minOccurs="0" name="MeasureUnitName" type="xs:string" />
                  <xs:element name="BonusAmt" nillable="true" type="xs:long" />
                  <xs:element name="EffectiveTime" type="xs:string" />
                  <xs:element name="ExpireTime" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceList">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="BalanceType" type="xs:string" />
                  <xs:element minOccurs="0" name="BalanceID" type="xs:string" />
                  <xs:element name="BalanceTypeName" type="xs:string" />
                  <xs:element name="BonusAmt" type="xs:long" />
                  <xs:element name="CurrencyID" type="xs:integer" />
                  <xs:element name="EffectiveTime" type="xs:string" />
                  <xs:element name="ExpireTime" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Bonusofferlist">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Offeringid" type="arcommon:OfferingKey" />
                  <xs:element name="OwnerType" type="xs:string" />
                  <xs:element name="OwnerKey" type="xs:string" />
                  <xs:element name="EffectiveTime" type="xs:string" />
                  <xs:element name="ExpireTime" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="LifeCycleChgInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="OldLifeCycleStatus">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="StatusName" type="xs:string" />
                  <xs:element name="StatusExpireTime" type="xs:string" />
                  <xs:element name="StatusIndex" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="NewLifeCycleStatus">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="StatusName" type="xs:string" />
                  <xs:element name="StatusExpireTime" type="xs:string" />
                  <xs:element name="StatusIndex" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="AddValidity" type="xs:integer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditChgInfo" type="arcommon:CreditChgInfo" />
      <xs:element minOccurs="0" name="OverDraftForPrepaid" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RechargeRollBackRequest">
    <xs:sequence>
      <xs:element name="RechargeSerialNo" type="xs:string" />
      <xs:element name="RechargeObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PayType" type="xs:string" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ReasonCode" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RechargeRollBackResult">
    <xs:sequence>
      <xs:element name="RechargeSerialNo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceRollBack" type="arcommon:BalanceChgInfo" />
      <xs:element minOccurs="0" name="LoanRollBack" type="arcommon:LoanChgInfo" />
      <xs:element minOccurs="0" name="BonusRollBack">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="FreeUnitItemList">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="FreeUnitID" type="xs:string" />
                  <xs:element name="FreeUnitType" type="xs:string" />
                  <xs:element minOccurs="0" name="FreeUnitTypeName" type="xs:string" />
                  <xs:element name="MeasureUnit" type="xs:string" />
                  <xs:element minOccurs="0" name="MeasureUnitName" type="xs:string" />
                  <xs:element name="RollBonusAmt" nillable="true" type="xs:long" />
                  <xs:element name="EffectiveTime" type="xs:string" />
                  <xs:element name="ExpireTime" type="xs:string" />
                  <xs:element name="NewBalanceAmt" type="xs:long" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceList">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="BalanceType" type="xs:string" />
                  <xs:element minOccurs="0" name="BalanceID" type="xs:string" />
                  <xs:element name="BalanceTypeName" type="xs:string" />
                  <xs:element name="RollBonusAmt" type="xs:long" />
                  <xs:element name="CurrencyID" type="xs:integer" />
                  <xs:element name="EffectiveTime" type="xs:string" />
                  <xs:element name="ExpireTime" type="xs:string" />
                  <xs:element name="NewBalanceAmt" type="xs:long" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="LifeCycleRollBack">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="OldLifeCycleStatus">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="StatusName" type="xs:string" />
                  <xs:element name="StatusExpireTime" type="xs:string" />
                  <xs:element name="StatusIndex" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="NewLifeCycleStatus">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="StatusName" type="xs:string" />
                  <xs:element name="StatusExpireTime" type="xs:string" />
                  <xs:element name="StatusIndex" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="RollBackValidity" type="xs:integer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>