C#/HSAPI/Connected Services/ArServices/ArServices24.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="TransferBalanceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransferSerialNo" type="xs:string" />
      <xs:element name="TransferType" type="arcommon:string64">
        <xs:annotation>
          <xs:documentation>0:?????????????????????CBS
1:???CBS?????????????????????
2:CBS??????????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TransferorObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="CustAccessCode" type="arcommon:CustAccessCode" />
            <xs:element name="SubGroupAccessCode" type="arcommon:SubGroupAccessCode" />
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCodeWithAuth" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="TransfereeObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="CustAccessCode" type="arcommon:CustAccessCode" />
            <xs:element name="SubGroupAccessCode" type="arcommon:SubGroupAccessCode" />
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="TransferorAcct">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="arcommon:AcctAccessCodeWithAuth">
              <xs:sequence>
                <xs:element minOccurs="0" name="PayType" type="xs:string" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="TransfereeAcct">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="arcommon:AcctAccessCode">
              <xs:sequence>
                <xs:element minOccurs="0" name="PayType" type="xs:string" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="SrcBalanceID" type="xs:long" />
      <xs:element minOccurs="0" name="SrcBalanceType" type="xs:string" />
      <xs:element minOccurs="0" name="DestBalanceType" type="xs:string" />
      <xs:element minOccurs="0" name="TransferAmount" type="xs:long" />
      <xs:element minOccurs="0" name="TransferHandleFee" type="xs:long" />
      <xs:element minOccurs="0" name="TransfeeHandleFee" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FreeUnitTransferorInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="FreeUnitInstanceID" type="xs:long" />
            <xs:element minOccurs="0" name="FreeUnitType" type="xs:string" />
            <xs:element name="TransferAmt" type="xs:long" />
            <xs:element minOccurs="0" name="DestFreeUnitType" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditTransferorInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="CreditLimitType" type="xs:string" />
            <xs:element name="TransferAmt" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="CurrencyID" type="xs:integer" />
      <xs:element minOccurs="0" name="TransferReasonCode" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty">
        <xs:annotation>
          <xs:documentation>It is reserved for future extension</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransferBalanceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransferSerialNo" type="xs:string" />
      <xs:element minOccurs="0" name="Transferor">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceChgInfo" type="arcommon:BalanceChgInfo" />
            <xs:element minOccurs="0" name="HandlingChargeAmt" type="xs:long" />
            <xs:element minOccurs="0" name="CurrencyID" type="xs:integer" />
            <xs:element minOccurs="0" name="LifeCycleChgInfo">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="OldLifeCycleStatus">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="StatusName" type="xs:string" />
                        <xs:element name="StatusExpireTime" type="xs:string" />
                        <xs:element name="StatusIndex" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" name="NewLifeCycleStatus">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="StatusName" type="xs:string" />
                        <xs:element name="StatusExpireTime" type="xs:string" />
                        <xs:element name="StatusIndex" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" name="ChgValidity" type="xs:integer" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="FreeUnitChgInfo" type="arcommon:FreeUnitChgInfo" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditChgInfo" type="arcommon:CreditChgInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Transferee">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceChgInfo" type="arcommon:BalanceChgInfo" />
            <xs:element minOccurs="0" name="HandlingChargeAmt" type="xs:long" />
            <xs:element minOccurs="0" name="CurrencyID" type="xs:integer" />
            <xs:element minOccurs="0" name="LoanChgInfo" type="arcommon:LoanChgInfo" />
            <xs:element minOccurs="0" name="LifeCycleChgInfo">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="OldLifeCycleStatus">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="StatusName" type="xs:string" />
                        <xs:element name="StatusExpireTime" type="xs:string" />
                        <xs:element name="StatusIndex" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" name="NewLifeCycleStatus">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="StatusName" type="xs:string" />
                        <xs:element name="StatusExpireTime" type="xs:string" />
                        <xs:element name="StatusIndex" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="ChgValidity" type="xs:integer" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="FreeUnitChgInfo" type="arcommon:FreeUnitChgInfo" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditChgInfo" type="arcommon:CreditChgInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>