C#/HSAPI/Connected Services/ArServices/ArServices34.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="BatchAdjustAcctExtRequest">
    <xs:sequence>
      <xs:element name="OpType" type="xs:string" />
      <xs:element name="FileName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>