C#/HSAPI/Connected Services/ArServices/ArServices17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:annotation>
    <xs:documentation>Payment2AR</xs:documentation>
  </xs:annotation>
  <xs:complexType name="Payment2ARRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Payment2ARSerialNo" type="xs:string" />
      <xs:element name="PaymentObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PayType" type="xs:string" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="PaymentInfo" type="arcommon:FeeDetailValue" />
      <xs:element name="SalesTime" type="xs:string" />
      <xs:element name="InvoiceTime" type="xs:string" />
      <xs:element name="PaymentTime" type="xs:string" />
      <xs:element minOccurs="0" name="ChannelID" type="arcommon:string64" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Payment2ARRollBackRequest">
    <xs:sequence>
      <xs:element name="Payment2ARSerialNo" type="xs:string" />
      <xs:element name="PaymentObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PayType" type="xs:string" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RollBackFeeValues">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ChargeSeq" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ReasonCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>