C#/HSAPI/Connected Services/ArServices/ArServices40.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="QueryTransactionRequest">
    <xs:sequence>
      <xs:element name="QueryObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PayType" type="xs:string" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="StartTime" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:string" />
      <xs:element name="TotalRowNum" type="xs:integer" />
      <xs:element name="BeginRowNum" type="xs:integer" />
      <xs:element name="FetchRowNum" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryTransactionResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AcctKey" type="xs:string" />
            <xs:element name="CustKey" type="xs:string" />
            <xs:element minOccurs="0" name="SubKey" type="xs:string" />
            <xs:element minOccurs="0" name="PrimaryIdentity" type="xs:string" />
            <xs:element name="AccountBalance" type="xs:long" />
            <xs:element name="TransType" type="xs:string" />
            <xs:element minOccurs="0" name="ChannelID" type="xs:string" />
            <xs:element name="TransAmount" type="xs:long" />
            <xs:element name="TaxAmount" type="xs:long" />
            <xs:element name="CurrencyID" type="xs:integer" />
            <xs:element name="TransTime" type="xs:string" />
            <xs:element name="TransID" type="xs:long" />
            <xs:element minOccurs="0" name="SrcTransID" type="xs:long" />
            <xs:element minOccurs="0" name="ExtTransID" type="xs:string" />
            <xs:element minOccurs="0" name="OperID" type="xs:long" />
            <xs:element minOccurs="0" name="DeptID" type="xs:long" />
            <xs:element minOccurs="0" name="ReasonCode" type="xs:string" />
            <xs:element name="Status" type="xs:string" />
            <xs:element minOccurs="0" name="Remark" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TotalRowNum" type="xs:integer" />
      <xs:element name="BeginRowNum" type="xs:integer" />
      <xs:element name="FetchRowNum" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>