C#/HSAPI/Connected Services/ArServices/ArServices36.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="QueryTransferLogRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustAccessCode" type="arcommon:CustAccessCode" />
      <xs:element name="QueryObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PayType" type="arcommon:string64" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="SubGroupAccessCode" type="arcommon:SubGroupAccessCode" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="TotalRowNum" type="xs:long" />
      <xs:element name="BeginRowNum" type="xs:long" />
      <xs:element name="FetchRowNum" type="xs:long" />
      <xs:element name="StartTime" type="xs:string" />
      <xs:element name="EndTime" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryTransferLogResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransferInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TradeTime" type="xs:string" />
            <xs:element name="AcctKey" type="xs:string" />
            <xs:element minOccurs="0" name="SubKey" type="xs:string" />
            <xs:element minOccurs="0" name="PrimaryIdentity" type="xs:string" />
            <xs:element minOccurs="0" name="TransferChannelID" type="xs:string" />
            <xs:element name="TransID" type="xs:long" />
            <xs:element minOccurs="0" name="ExtTransID" type="xs:string" />
            <xs:element name="TransferAmount" type="xs:long" />
            <xs:element minOccurs="0" name="OppositePrimaryIdentity" type="xs:string" />
            <xs:element minOccurs="0" name="OppositeAcctKey" type="xs:string" />
            <xs:element name="CurrencyID" type="xs:integer" />
            <xs:element name="ResultCode" type="xs:string">
              <xs:annotation>
                <xs:documentation>0: Success
other:  failed</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceChgInfo" type="arcommon:BalanceChgInfo" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="FreeUnitChgInfo" type="arcommon:FreeUnitChgInfo" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty">
              <xs:annotation>
                <xs:documentation>It is reserved for future extension</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditChgInfo" type="arcommon:CreditChgInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TotalRowNum" type="xs:long" />
      <xs:element name="BeginRowNum" type="xs:long" />
      <xs:element name="FetchRowNum" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>