C#/HSAPI/Connected Services/ArServices/ArServices6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="QueryCustArrearsRequest">
    <xs:sequence>
      <xs:element name="QueryObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PayType" type="arcommon:string20" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="CustAccessCode" type="arcommon:CustAccessCode" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryResultMode" type="xs:string" />
      <xs:sequence minOccurs="0">
        <xs:element name="TotalRowNum" type="xs:long" />
        <xs:element name="BeginRowNum" type="xs:long" />
        <xs:element name="FetchRowNum" type="xs:long" />
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryCustArrearsResult">
    <xs:sequence>
      <xs:element name="CustomerKey" type="xs:string" />
      <xs:element name="CustomerName" type="xs:string" />
      <xs:element maxOccurs="unbounded" name="TotalArrears">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TotalOpenAmount" type="xs:long" />
            <xs:element name="CurrencyID" type="xs:integer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="AccountArrears">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="AccountArrearsDetail">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="AcctKey" type="xs:string" />
                  <xs:element maxOccurs="unbounded" name="ArrearsInfo">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="OpenAmount" type="xs:long" />
                        <xs:element name="CurrencyID" type="xs:integer" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="TotalRowNum" type="xs:long" />
            <xs:element name="BeginRowNum" type="xs:long" />
            <xs:element name="FetchRowNum" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>