C#/HSAPI/Connected Services/ArServices/ArServices7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="BatchUpdateCashRegisterRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransactionID" type="arcommon:string64" />
      <xs:element name="TransactionTime" type="xs:string" />
      <xs:element maxOccurs="unbounded" name="TransactionList">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="BatchNo" type="xs:long" />
            <xs:element name="PaymentMethodID" type="xs:string" />
            <xs:element name="TransactionAmount" type="xs:long" />
            <xs:element minOccurs="0" name="OperType" type="xs:string" />
            <xs:element minOccurs="0" name="CardType" type="arcommon:string64" />
            <xs:element minOccurs="0" name="CurrencyID" type="arcommon:string64" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="OperID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BatchUpdateCashRegisterResult">
    <xs:sequence />
  </xs:complexType>
</xs:schema>