C#/HSAPI/Connected Services/ArServices/ArServices37.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="CashRegisterOperateRequest">
    <xs:sequence>
      <xs:element name="OperID" type="xs:long" />
      <xs:element name="DirectorOperID" type="xs:long" />
      <xs:element name="OperType" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyID" type="xs:integer" />
      <xs:element minOccurs="0" name="Amount" type="xs:long" />
      <xs:element minOccurs="0" name="AdditionalProperty" type="arcommon:SimpleProperty" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>