C#/HSAPI/Connected Services/QueryMgrService11/QueryMgrService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:newsubscriber="http://www.huawei.com/bme/cbsinterface/newsubscriber" xmlns:bamgrt="http://www.huawei.com/bme/cbsinterface/bamgrt" xmlns:subscribe="http://www.huawei.com/bme/cbsinterface/subscribe" xmlns:common="http://www.huawei.com/bme/cbsinterface/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.huawei.com/bme/cbsinterface/newsubscriber" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="QueryMgrService?xsd=CBSInterface_Subscribe.xsd" namespace="http://www.huawei.com/bme/cbsinterface/subscribe" />
  <xs:import schemaLocation="QueryMgrService?xsd=CBSInterface_Common.xsd" namespace="http://www.huawei.com/bme/cbsinterface/common" />
  <xs:complexType name="NewSubscriberRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="common:Customer">
              <xs:sequence>
                <xs:element minOccurs="0" name="OperType" type="xs:int">
                  <xs:annotation>
                    <xs:documentation>1-新增，3-修改</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="common:Account">
              <xs:sequence>
                <xs:element minOccurs="0" name="BillCycleType" type="common:BillCycleType" />
                <xs:element minOccurs="0" name="IsCustShareAcct" type="xs:boolean">
                  <xs:annotation>
                    <xs:documentation>是否客户级共享帐户，缺省值为false</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="OperType" type="xs:int">
                  <xs:annotation>
                    <xs:documentation>1-增加，3-修改</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="PrimaryOffer">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="subscribe:OfferOrder">
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Subscriber">
                  <xs:complexType>
                    <xs:complexContent mixed="false">
                      <xs:extension base="common:Subscriber">
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" type="subscribe:Product" />
                          <xs:element minOccurs="0" name="ComponentID" nillable="true" type="xs:int" />
                          <xs:element minOccurs="0" name="AccountCode" type="common:AccountCode" />
                        </xs:sequence>
                      </xs:extension>
                    </xs:complexContent>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="AccountCode" type="common:AccountCode">
                  <xs:annotation>
                    <xs:documentation>Reserved</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="OfferOrderKey" type="common:OfferOrderKey" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OptionalOffer">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="subscribe:OptionalOfferOrder">
              <xs:sequence>
                <xs:element minOccurs="0" name="OfferOrderKey" type="common:OfferOrderKey" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="OneTimeCharge" type="common:OneTimeCharge" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BA">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="AccountCode" type="common:AccountCode" />
            <xs:element name="BACode" type="common:BACode" />
            <xs:element minOccurs="0" name="BillAddr" type="common:BAAddrInfo" />
            <xs:element minOccurs="0" name="ApplyTime" type="common:DateTime" />
            <xs:element minOccurs="0" name="ExpireTime" type="common:DateTime" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="BAScenario" type="common:BAScenario" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="BillDelivery" type="common:BADelivery" />
            <xs:element minOccurs="0" name="DefaultFlag" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:choice>
        <xs:element minOccurs="0" name="SubscriberNo" type="common:SubscriberNo">
          <xs:annotation>
            <xs:documentation>如果是老客户开户，可以输入用户号码来标识老客户</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="CustomerCode" type="common:CustomerCode" />
      </xs:choice>
      <xs:element minOccurs="0" name="Sponsor" type="common:SubscriberNo">
        <xs:annotation>
          <xs:documentation>推荐人用户号码</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewSubscriberResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OfferOrderInfo" type="subscribe:OfferOrderInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewSubscriberExtRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="common:Customer">
              <xs:sequence>
                <xs:element minOccurs="0" name="OperType" type="xs:int">
                  <xs:annotation>
                    <xs:documentation>1-新增，3-修改</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Account">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="common:Account">
              <xs:sequence>
                <xs:element name="BillCycleType" type="common:BillCycleType" />
                <xs:element minOccurs="0" name="IsCustShareAcct" type="xs:boolean">
                  <xs:annotation>
                    <xs:documentation>是否客户级共享帐户，缺省值为false</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="OperType" type="xs:int" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="PrimaryOffer">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="subscribe:OfferOrder">
              <xs:sequence>
                <xs:element name="Subscriber">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="MainProductId" type="common:ProductId" />
                      <xs:element minOccurs="0" name="SubscriberCode" type="common:SubscriberCode" />
                      <xs:element minOccurs="0" name="BelToAreaID">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:maxLength value="10" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element minOccurs="0" name="Password" type="common:Password" />
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleProperty" type="common:SimpleProperty" />
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product">
                        <xs:complexType>
                          <xs:complexContent mixed="false">
                            <xs:extension base="subscribe:Product">
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="BindSubscriberNo" type="common:BindSubscriberNo" />
                              </xs:sequence>
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OptionalOffer">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="subscribe:OfferOrder">
              <xs:sequence>
                <xs:element name="Product">
                  <xs:complexType>
                    <xs:complexContent mixed="false">
                      <xs:extension base="subscribe:Product">
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="BindSubscriberNo" type="common:BindSubscriberNo" />
                        </xs:sequence>
                      </xs:extension>
                    </xs:complexContent>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewSubscriberExtResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="SubscriberKey" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OfferOrderInfo" type="subscribe:OfferOrderInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BatchNewSubscriberRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" type="common:Customer">
        <xs:annotation>
          <xs:documentation>批量开户时不能输入CustomerID和CustomerCode</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Account">
        <xs:annotation>
          <xs:documentation>批量开户时不能输入AccountID和AccountCode</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="common:Account">
              <xs:sequence>
                <xs:element minOccurs="0" name="BillCycleType" type="common:BillCycleType" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="PrimaryOffer">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="subscribe:OfferOrder">
              <xs:sequence>
                <xs:element minOccurs="0" name="Subscriber">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="Id" type="common:ProductId" />
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleProperty" type="common:SimpleProperty" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="0" name="Password" type="common:Password" />
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleProperty" type="common:SimpleProperty" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OptionalOffer">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="subscribe:OfferOrder">
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Product">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Id" type="common:ProductId" />
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleProperty" type="common:SimpleProperty" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="FileName" type="common:FileName" />
      <xs:element minOccurs="0" name="TaskTime" type="common:DateTime" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>