C#/HSAPI/Connected Services/QueryMgrService11/QueryMgrService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://www.huawei.com/bme/cbsinterface/subscribe" xmlns:common="http://www.huawei.com/bme/cbsinterface/common" xmlns:querymgr="http://www.huawei.com/bme/cbsinterface/querymgr" xmlns:ns="http://www.huawei.com/bme/cbsinterface/query" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://www.huawei.com/bme/cbsinterface/newsubscriber" targetNamespace="http://www.huawei.com/bme/cbsinterface/querymgr" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:query="http://www.huawei.com/bme/cbsinterface/query" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.huawei.com/bme/cbsinterface/querymgr">
      <xs:import schemaLocation="QueryMgrService?xsd=CBSInterface_Query.xsd" namespace="http://www.huawei.com/bme/cbsinterface/query" />
      <xs:element name="QueryCustomerRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QueryCustomerRequest" type="query:QueryCustomerRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryCustomerResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QueryCustomerResult" type="query:QueryCustomerResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryBalanceRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QueryBalanceRequest" type="query:QueryBalanceRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryBalanceResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QueryBalanceResult" type="query:QueryBalanceResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryProductOrderRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QueryProductOrderRequest" type="query:QueryProductOrderRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryProductOrderResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QueryProductOrderResult" type="query:QueryProductOrderResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryLastTranInfoRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QueryLastTranInfoRequest" type="query:QueryLastTranInfoRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryLastTranInfoResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QueryLastTranInfoResult" type="query:QueryLastTranInfoResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryBalanceTransferInfoRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QueryBalanceTransferInfoRequest" type="query:QueryBalanceTransferInfoRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryBalanceTransferInfoResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QueryBalanceTransferInfoResult" type="query:QueryBalanceTransferInfoResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CumulateEnquiryRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="CumulateEnquiryRequest" type="query:CumulateEnquiryRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CumulateEnquiryResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="CumulateEnquiryResult" type="query:CumulateEnquiryResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryDefaultBillCycleRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QueryDefaultBillCycleRequest" type="query:QueryDefaultBillCycleRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryDefaultBillCycleResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QueryDefaultBillCycleResult" type="query:QueryDefaultBillCycleResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryBillCycleInfoRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QueryBillCycleInfoRequest" type="query:QueryBillCycleInfoRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryBillCycleInfoResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QueryBillCycleInfoResult" type="query:QueryBillCycleInfoResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SubRchLogQueryRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="SubRchLogQueryRequest" type="query:SubRchLogQueryRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SubRchLogQueryResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="SubRchLogQueryResult" type="query:SubRchLogQueryResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryAccumulatorRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QueryAccumulatorRequest" type="query:QueryAccumulatorRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryAccumulatorResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QueryAccumulatorResult" type="query:QueryAccumulatorResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="OfferQueryRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="OfferQueryRequest" type="query:OfferQueryRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="OfferQueryResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="OfferQueryResult" type="query:OfferQueryResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryLastCallCostRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QueryLastCallCostRequest" type="query:QueryLastCallCostRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryLastCallCostResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QueryLastCallCostResult" type="query:QueryLastCallCostResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryFeeItemRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QueryFeeItemRequest" type="query:QueryFeeItemRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryFeeItemResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QueryFeeItemResult" type="query:QueryFeeItemResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryFraudTimesRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QueryFraudTimesRequest" type="query:QueryFraudTimesRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryFraudTimesResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QueryFraudTimesResult" type="query:QueryFraudTimesResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QuerySubServiceQuatoRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QuerySubServiceQuatoRequest" type="query:QuerySubServiceQuatoRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QuerySubServiceQuatoResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QuerySubServiceQuatoResult" type="query:QuerySubServiceQuatoResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryTrnCountRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QueryTrnCountRequest" type="query:QueryTrnCountRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryTrnCountResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QueryTrnCountResult" type="query:QueryTrnCountResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryDenominationRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QueryDenominationRequest" type="query:QueryDenominationRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryDenominationResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QueryDenominationResult" type="query:QueryDenominationResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryOfferingCycleTimeRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QueryOfferingCycleTimeRequest" type="query:QueryOfferingCycleTimeRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryOfferingCycleTimeResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QueryOfferingCycleTimeResult" type="query:QueryOfferingCycleTimeResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QuerySubscriberBasicInfoRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QuerySubscriberBasicInfoRequest" type="query:QuerySubscriberBasicInfoRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QuerySubscriberBasicInfoResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QuerySubscriberBasicInfoResult" type="query:QuerySubscriberBasicInfoResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryOnlineBusinessRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QueryOnlineBusinessRequest" type="query:QueryOnlineBusinessRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryOnlineBusinessResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QueryOnlineBusinessResult" type="query:QueryOnlineBusinessResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryBillCycleTypeDetailRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QueryBillCycleTypeDetailRequest" type="query:QueryBillCycleTypeDetailRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryBillCycleTypeDetailResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QueryBillCycleTypeDetailResult" type="query:QueryBillCycleTypeDetailResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="QuerySubServiceQuatoRequestMessage">
    <part name="QuerySubServiceQuatoRequestMsg" element="querymgr:QuerySubServiceQuatoRequestMsg" />
  </message>
  <message name="QuerySubscriberBasicInfoRequestMessage">
    <part name="QuerySubscriberBasicInfoRequestMsg" element="querymgr:QuerySubscriberBasicInfoRequestMsg" />
  </message>
  <message name="SubRchLogQueryRequestMessage">
    <part name="SubRchLogQueryRequestMsg" element="querymgr:SubRchLogQueryRequestMsg" />
  </message>
  <message name="QueryFeeItemResultMessage">
    <part name="QueryFeeItemResultMsg" element="querymgr:QueryFeeItemResultMsg" />
  </message>
  <message name="QueryBalanceTransferInfoResultMessage">
    <part name="QueryBalanceTransferInfoResultMsg" element="querymgr:QueryBalanceTransferInfoResultMsg" />
  </message>
  <message name="QueryBillCycleInfoRequestMessage">
    <part name="QueryBillCycleInfoRequestMsg" element="querymgr:QueryBillCycleInfoRequestMsg" />
  </message>
  <message name="OfferQueryResultMessage">
    <part name="OfferQueryResultMsg" element="querymgr:OfferQueryResultMsg" />
  </message>
  <message name="QueryAccumulatorResultMessage">
    <part name="QueryAccumulatorResultMsg" element="querymgr:QueryAccumulatorResultMsg" />
  </message>
  <message name="QueryFraudTimesRequestMessage">
    <part name="QueryFraudTimesRequestMsg" element="querymgr:QueryFraudTimesRequestMsg" />
  </message>
  <message name="QueryLastTranInfoResultMessage">
    <part name="QueryLastTranInfoResultMsg" element="querymgr:QueryLastTranInfoResultMsg" />
  </message>
  <message name="CumulateEnquiryResultMessage">
    <part name="CumulateEnquiryResultMsg" element="querymgr:CumulateEnquiryResultMsg" />
  </message>
  <message name="QueryFeeItemRequestMessage">
    <part name="QueryFeeItemRequestMsg" element="querymgr:QueryFeeItemRequestMsg" />
  </message>
  <message name="QueryFraudTimesResultMessage">
    <part name="QueryFraudTimesResultMsg" element="querymgr:QueryFraudTimesResultMsg" />
  </message>
  <message name="QueryBalanceResultMessage">
    <part name="QueryBalanceResultMsg" element="querymgr:QueryBalanceResultMsg" />
  </message>
  <message name="QueryBillCycleTypeDetailResultMessage">
    <part name="QueryBillCycleTypeDetailResultMsg" element="querymgr:QueryBillCycleTypeDetailResultMsg" />
  </message>
  <message name="QueryBillCycleInfoResultMessage">
    <part name="QueryBillCycleInfoResultMsg" element="querymgr:QueryBillCycleInfoResultMsg" />
  </message>
  <message name="QueryProductOrderRequestMessage">
    <part name="QueryProductOrderRequestMsg" element="querymgr:QueryProductOrderRequestMsg" />
  </message>
  <message name="OfferQueryRequestMessage">
    <part name="OfferQueryRequestMsg" element="querymgr:OfferQueryRequestMsg" />
  </message>
  <message name="QuerySubServiceQuatoResultMessage">
    <part name="QuerySubServiceQuatoResultMsg" element="querymgr:QuerySubServiceQuatoResultMsg" />
  </message>
  <message name="QueryDenominationResultMessage">
    <part name="QueryDenominationResultMsg" element="querymgr:QueryDenominationResultMsg" />
  </message>
  <message name="QueryBalanceRequestMessage">
    <part name="QueryBalanceRequestMsg" element="querymgr:QueryBalanceRequestMsg" />
  </message>
  <message name="QueryDefaultBillCycleRequestMessage">
    <part name="QueryDefaultBillCycleRequestMsg" element="querymgr:QueryDefaultBillCycleRequestMsg" />
  </message>
  <message name="QueryBalanceTransferInfoRequestMessage">
    <part name="QueryBalanceTransferInfoRequestMsg" element="querymgr:QueryBalanceTransferInfoRequestMsg" />
  </message>
  <message name="QueryOnlineBusinessRequestMessage">
    <part name="QueryOnlineBusinessRequestMsg" element="querymgr:QueryOnlineBusinessRequestMsg" />
  </message>
  <message name="QueryOfferingCycleTimeResultMessage">
    <part name="QueryOfferingCycleTimeResultMsg" element="querymgr:QueryOfferingCycleTimeResultMsg" />
  </message>
  <message name="QueryLastCallCostRequestMessage">
    <part name="QueryLastCallCostRequestMsg" element="querymgr:QueryLastCallCostRequestMsg" />
  </message>
  <message name="QueryProductOrderResultMessage">
    <part name="QueryProductOrderResultMsg" element="querymgr:QueryProductOrderResultMsg" />
  </message>
  <message name="QueryOnlineBusinessResultMessage">
    <part name="QueryOnlineBusinessResultMsg" element="querymgr:QueryOnlineBusinessResultMsg" />
  </message>
  <message name="SubRchLogQueryResultMessage">
    <part name="SubRchLogQueryResultMsg" element="querymgr:SubRchLogQueryResultMsg" />
  </message>
  <message name="QueryAccumulatorRequestMessage">
    <part name="QueryAccumulatorRequestMsg" element="querymgr:QueryAccumulatorRequestMsg" />
  </message>
  <message name="QueryLastCallCostResultMessage">
    <part name="QueryLastCallCostResultMsg" element="querymgr:QueryLastCallCostResultMsg" />
  </message>
  <message name="QueryLastTranInfoRequestMessage">
    <part name="QueryLastTranInfoRequestMsg" element="querymgr:QueryLastTranInfoRequestMsg" />
  </message>
  <message name="CumulateEnquiryRequestMessage">
    <part name="CumulateEnquiryRequestMsg" element="querymgr:CumulateEnquiryRequestMsg" />
  </message>
  <message name="QueryCustomerResultMessage">
    <part name="QueryCustomerResultMsg" element="querymgr:QueryCustomerResultMsg" />
  </message>
  <message name="QueryTrnCountRequestMessage">
    <part name="QueryTrnCountRequestMsg" element="querymgr:QueryTrnCountRequestMsg" />
  </message>
  <message name="QueryOfferingCycleTimeRequestMessage">
    <part name="QueryOfferingCycleTimeRequestMsg" element="querymgr:QueryOfferingCycleTimeRequestMsg" />
  </message>
  <message name="QueryBillCycleTypeDetailRequestMessage">
    <part name="QueryBillCycleTypeDetailRequestMsg" element="querymgr:QueryBillCycleTypeDetailRequestMsg" />
  </message>
  <message name="QuerySubscriberBasicInfoResultMessage">
    <part name="QuerySubscriberBasicInfoResultMsg" element="querymgr:QuerySubscriberBasicInfoResultMsg" />
  </message>
  <message name="QueryTrnCountResultMessage">
    <part name="QueryTrnCountResultMsg" element="querymgr:QueryTrnCountResultMsg" />
  </message>
  <message name="QueryDenominationRequestMessage">
    <part name="QueryDenominationRequestMsg" element="querymgr:QueryDenominationRequestMsg" />
  </message>
  <message name="QueryCustomerRequestMessage">
    <part name="QueryCustomerRequestMsg" element="querymgr:QueryCustomerRequestMsg" />
  </message>
  <message name="QueryDefaultBillCycleResultMessage">
    <part name="QueryDefaultBillCycleResultMsg" element="querymgr:QueryDefaultBillCycleResultMsg" />
  </message>
  <portType name="QueryMgr">
    <operation name="queryCustomer">
      <input message="querymgr:QueryCustomerRequestMessage" />
      <output message="querymgr:QueryCustomerResultMessage" />
    </operation>
    <operation name="queryBalance">
      <input message="querymgr:QueryBalanceRequestMessage" />
      <output message="querymgr:QueryBalanceResultMessage" />
    </operation>
    <operation name="queryProductOrder">
      <input message="querymgr:QueryProductOrderRequestMessage" />
      <output message="querymgr:QueryProductOrderResultMessage" />
    </operation>
    <operation name="queryLastTranInfo">
      <input message="querymgr:QueryLastTranInfoRequestMessage" />
      <output message="querymgr:QueryLastTranInfoResultMessage" />
    </operation>
    <operation name="queryBalanceTransferInfo">
      <input message="querymgr:QueryBalanceTransferInfoRequestMessage" />
      <output message="querymgr:QueryBalanceTransferInfoResultMessage" />
    </operation>
    <operation name="CumulateEnquiry">
      <input message="querymgr:CumulateEnquiryRequestMessage" />
      <output message="querymgr:CumulateEnquiryResultMessage" />
    </operation>
    <operation name="queryDefaultBillCycle">
      <input message="querymgr:QueryDefaultBillCycleRequestMessage" />
      <output message="querymgr:QueryDefaultBillCycleResultMessage" />
    </operation>
    <operation name="queryBillCycleInfo">
      <input message="querymgr:QueryBillCycleInfoRequestMessage" />
      <output message="querymgr:QueryBillCycleInfoResultMessage" />
    </operation>
    <operation name="subRchLogQuery">
      <input message="querymgr:SubRchLogQueryRequestMessage" />
      <output message="querymgr:SubRchLogQueryResultMessage" />
    </operation>
    <operation name="queryAccumulator">
      <input message="querymgr:QueryAccumulatorRequestMessage" />
      <output message="querymgr:QueryAccumulatorResultMessage" />
    </operation>
    <operation name="offerQuery">
      <input message="querymgr:OfferQueryRequestMessage" />
      <output message="querymgr:OfferQueryResultMessage" />
    </operation>
    <operation name="queryLastCallCost">
      <input message="querymgr:QueryLastCallCostRequestMessage" />
      <output message="querymgr:QueryLastCallCostResultMessage" />
    </operation>
    <operation name="queryFeeItem">
      <input message="querymgr:QueryFeeItemRequestMessage" />
      <output message="querymgr:QueryFeeItemResultMessage" />
    </operation>
    <operation name="queryFraudTimes">
      <input message="querymgr:QueryFraudTimesRequestMessage" />
      <output message="querymgr:QueryFraudTimesResultMessage" />
    </operation>
    <operation name="querySubServiceQuato">
      <input message="querymgr:QuerySubServiceQuatoRequestMessage" />
      <output message="querymgr:QuerySubServiceQuatoResultMessage" />
    </operation>
    <operation name="queryTrnCount">
      <input message="querymgr:QueryTrnCountRequestMessage" />
      <output message="querymgr:QueryTrnCountResultMessage" />
    </operation>
    <operation name="queryDenomination">
      <input message="querymgr:QueryDenominationRequestMessage" />
      <output message="querymgr:QueryDenominationResultMessage" />
    </operation>
    <operation name="queryOfferingCycleTime">
      <input message="querymgr:QueryOfferingCycleTimeRequestMessage" />
      <output message="querymgr:QueryOfferingCycleTimeResultMessage" />
    </operation>
    <operation name="querySubscriberBasicInfo">
      <input message="querymgr:QuerySubscriberBasicInfoRequestMessage" />
      <output message="querymgr:QuerySubscriberBasicInfoResultMessage" />
    </operation>
    <operation name="queryOnlineBusiness">
      <input message="querymgr:QueryOnlineBusinessRequestMessage" />
      <output message="querymgr:QueryOnlineBusinessResultMessage" />
    </operation>
    <operation name="queryBillCycleTypeDetail">
      <input message="querymgr:QueryBillCycleTypeDetailRequestMessage" />
      <output message="querymgr:QueryBillCycleTypeDetailResultMessage" />
    </operation>
  </portType>
  <binding name="QueryMgrSoap12Binding" type="querymgr:QueryMgr">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="queryCustomer">
      <soap12:operation soapAction="queryCustomer" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="queryBalance">
      <soap12:operation soapAction="queryBalance" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="queryProductOrder">
      <soap12:operation soapAction="queryProductOrder" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="queryLastTranInfo">
      <soap12:operation soapAction="queryLastTranInfo" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="queryBalanceTransferInfo">
      <soap12:operation soapAction="queryBalanceTransferInfo" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="CumulateEnquiry">
      <soap12:operation soapAction="CumulateEnquiry" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="queryDefaultBillCycle">
      <soap12:operation soapAction="queryDefaultBillCycle" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="queryBillCycleInfo">
      <soap12:operation soapAction="queryBillCycleInfo" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="subRchLogQuery">
      <soap12:operation soapAction="subRchLogQuery" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="queryAccumulator">
      <soap12:operation soapAction="queryAccumulator" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="offerQuery">
      <soap12:operation soapAction="offerQuery" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="queryLastCallCost">
      <soap12:operation soapAction="queryLastCallCost" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="queryFeeItem">
      <soap12:operation soapAction="queryFeeItem" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="queryFraudTimes">
      <soap12:operation soapAction="queryFraudTimes" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="querySubServiceQuato">
      <soap12:operation soapAction="querySubServiceQuato" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="queryTrnCount">
      <soap12:operation soapAction="queryTrnCount" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="queryDenomination">
      <soap12:operation soapAction="queryDenomination" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="queryOfferingCycleTime">
      <soap12:operation soapAction="queryOfferingCycleTime" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="querySubscriberBasicInfo">
      <soap12:operation soapAction="querySubscriberBasicInfo" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="queryOnlineBusiness">
      <soap12:operation soapAction="queryOnlineBusiness" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="queryBillCycleTypeDetail">
      <soap12:operation soapAction="queryBillCycleTypeDetail" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
  </binding>
  <binding name="QueryMgrBinding" type="querymgr:QueryMgr">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="queryCustomer">
      <soap:operation soapAction="queryCustomer" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryBalance">
      <soap:operation soapAction="queryBalance" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryProductOrder">
      <soap:operation soapAction="queryProductOrder" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryLastTranInfo">
      <soap:operation soapAction="queryLastTranInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryBalanceTransferInfo">
      <soap:operation soapAction="queryBalanceTransferInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CumulateEnquiry">
      <soap:operation soapAction="CumulateEnquiry" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryDefaultBillCycle">
      <soap:operation soapAction="queryDefaultBillCycle" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryBillCycleInfo">
      <soap:operation soapAction="queryBillCycleInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="subRchLogQuery">
      <soap:operation soapAction="subRchLogQuery" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAccumulator">
      <soap:operation soapAction="queryAccumulator" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="offerQuery">
      <soap:operation soapAction="offerQuery" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryLastCallCost">
      <soap:operation soapAction="queryLastCallCost" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryFeeItem">
      <soap:operation soapAction="queryFeeItem" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryFraudTimes">
      <soap:operation soapAction="queryFraudTimes" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="querySubServiceQuato">
      <soap:operation soapAction="querySubServiceQuato" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryTrnCount">
      <soap:operation soapAction="queryTrnCount" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryDenomination">
      <soap:operation soapAction="queryDenomination" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryOfferingCycleTime">
      <soap:operation soapAction="queryOfferingCycleTime" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="querySubscriberBasicInfo">
      <soap:operation soapAction="querySubscriberBasicInfo" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryOnlineBusiness">
      <soap:operation soapAction="queryOnlineBusiness" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryBillCycleTypeDetail">
      <soap:operation soapAction="queryBillCycleTypeDetail" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="QueryMgrService">
    <port name="QueryMgrServiceSoap12Port" binding="querymgr:QueryMgrSoap12Binding">
      <soap12:address location="http://http://10.13.231.97:8080/services/QueryMgrService.QueryMgrServiceSoap12Port/" />
    </port>
    <port name="QueryMgrServicePort" binding="querymgr:QueryMgrBinding">
      <soap:address location="http://http://10.13.231.97:8080/services/QueryMgrService.QueryMgrServicePort/" />
    </port>
  </service>
</definitions>