C#/HSAPI/Connected Services/DelSubscriberMgrService/CBSInterface_DelSubscriber.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:delsubscriber="http://www.huawei.com/bme/cbsinterface/delsubscriber" xmlns:common="http://www.huawei.com/bme/cbsinterface/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.huawei.com/bme/cbsinterface/delsubscriber" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="CBSInterface_Common.xsd" namespace="http://www.huawei.com/bme/cbsinterface/common" />
  <xs:complexType name="DelSubscriberRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element minOccurs="0" name="OneTimeCharge" type="common:OneTimeCharge" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DelSubscriberResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DelSubInfoList" type="delsubscriber:DelSubInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BatchDelSubscriberRequest">
    <xs:sequence>
      <xs:element name="FileName" type="common:FileName" />
      <xs:element minOccurs="0" name="TaskTime" type="common:DateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DelSubInfo">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element minOccurs="0" name="Balance" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>