C#/Connected Services/ArServices/ArServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QueryCashRegisterRequest">
    <xs:sequence>
      <xs:element name="OperID" type="xs:long" />
      <xs:element minOccurs="0" name="DirectorOperID" type="xs:long" />
      <xs:element name="BeginTime" type="xs:string" />
      <xs:element name="EndTime" type="xs:string" />
      <xs:element minOccurs="0" name="Status">
        <xs:annotation>
          <xs:documentation>Cash Register's Status</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryCashRegisterResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CashRegisterInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OperID" type="xs:long" />
            <xs:element name="CurrencyID" type="xs:long" />
            <xs:element minOccurs="0" name="CashInfo">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="TotalCashAmount" type="xs:long" />
                  <xs:element name="InitAmount" type="xs:long" />
                  <xs:element name="AdjustAmount" type="xs:long" />
                  <xs:element name="TransfetoSafeAmount" type="xs:long" />
                  <xs:element name="CashTransactonAmout" type="xs:long" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Transdetail">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Amount" type="xs:long" />
                        <xs:element name="TransactionTime" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="TransactionInfo">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="TotalTransactionAmount" type="xs:long" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionList">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="TransactionAmount" type="xs:long" />
                        <xs:element name="PaymentMethodID" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Transdetail">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="Amount" type="xs:long" />
                              <xs:element name="TransactionTime" type="xs:string" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Status">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:length value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="OpenTime" type="xs:string" />
            <xs:element minOccurs="0" name="CloseTime" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>