C#/Connected Services/ArServices/ArServices26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:annotation>
    <xs:documentation>Charge2AR</xs:documentation>
  </xs:annotation>
  <xs:complexType name="Charge2ARRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Charge2ARSerialNo" type="xs:string" />
      <xs:element name="ChargeObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PayType" type="xs:string" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ChannelID" type="xs:string" />
      <xs:element maxOccurs="unbounded" name="ChargeInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ChargeType" type="xs:string" />
            <xs:element name="SalesTime" type="xs:string" />
            <xs:element name="InvoiceTime" type="xs:string" />
            <xs:element minOccurs="0" name="DueDate" type="xs:string" />
            <xs:element minOccurs="0" name="InvoiceNo" type="xs:string" />
            <xs:element maxOccurs="unbounded" name="ChargeDetailInfo">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:ChargeDetailValue" />
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Remark" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty">
              <xs:annotation>
                <xs:documentation>It is reserved for future extension</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="CurrencyID" type="xs:integer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Charge2ARRollBackRequest">
    <xs:sequence>
      <xs:element name="Charge2ARSerialNo" type="xs:string" />
      <xs:element name="ChargeObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PayType" type="xs:string" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RollBackFeeValues">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ChargeSeq" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>