C#/Connected Services/ArServices/ArServices35.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns0="http://www.huawei.com/bme/cbsinterface/arservices" xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="PACancelRequest">
    <xs:sequence>
      <xs:element name="PAId" type="arcommon:string64" />
      <xs:element name="CustId" type="arcommon:string64" />
      <xs:element name="AcctId" type="arcommon:string64" />
      <xs:element minOccurs="0" name="SubId" type="arcommon:string64" />
      <xs:element minOccurs="0" name="PriIdentify" type="xs:string" />
      <xs:element minOccurs="0" name="CancelReason" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PACancelResult">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PAResultList" type="ns0:PAResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PAResult">
    <xs:sequence>
      <xs:element name="PADetailID" type="arcommon:string64" />
      <xs:element name="AgreedPaidDate" type="xs:string" />
      <xs:element name="AgreedPaidAmt" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PANotifyRequest">
    <xs:sequence>
      <xs:element name="PAId" type="arcommon:string64" />
      <xs:element name="CustId" type="arcommon:string64" />
      <xs:element name="AcctId" type="arcommon:string64" />
      <xs:element minOccurs="0" name="SubId" type="arcommon:string64" />
      <xs:element minOccurs="0" name="PriIdentify" type="xs:string" />
      <xs:element name="PAType" type="arcommon:string64" />
      <xs:element name="PADate" type="xs:string" />
      <xs:element name="PAAmt" type="xs:string" />
      <xs:element maxOccurs="unbounded" name="InvoiceDetailInfoList" type="ns0:PADetailInfo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PAInvoiceList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="InvoiceNo" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RegionId" type="arcommon:string64" />
      <xs:element name="RegionCode" type="xs:string" />
      <xs:element name="BeId" type="arcommon:string64" />
      <xs:element name="BeCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PADetailInfo">
    <xs:sequence>
      <xs:element name="PADetailID" type="arcommon:string64" />
      <xs:element name="AgreedPaidDate" type="xs:string" />
      <xs:element name="AgreedPaidAmt" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentMethod" type="arcommon:string64" />
      <xs:element minOccurs="0" name="CurrencyId" type="arcommon:string64" />
      <xs:element minOccurs="0" name="InvoiceNo" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PANotifyResult">
    <xs:all />
  </xs:complexType>
  <xs:complexType name="TransNotifyRequest">
    <xs:sequence>
      <xs:element name="TransId" type="arcommon:string64" />
      <xs:element name="CustId" type="arcommon:string64" />
      <xs:element name="AcctId" type="arcommon:string64" />
      <xs:element minOccurs="0" name="SubId" />
      <xs:element minOccurs="0" name="PriIdentify" type="xs:string" />
      <xs:element name="TransType" type="xs:string" />
      <xs:element name="TransDate" type="xs:string" />
      <xs:element name="TransAmt" type="xs:string" />
      <xs:element minOccurs="0" name="OriginalTransId" type="xs:string" />
      <xs:element minOccurs="0" name="ParentInvoiceId" type="xs:string" />
      <xs:element minOccurs="0" name="ReversalReason" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceDetailInfoList" type="ns0:InvoiceDetailInfo" />
      <xs:element name="RegionId" type="arcommon:string64" />
      <xs:element name="RegionCode" type="xs:string" />
      <xs:element name="BeId" type="arcommon:string64" />
      <xs:element name="BeCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InvoiceDetailInfo">
    <xs:sequence>
      <xs:element name="InvoiceDetailId" type="arcommon:string64" />
      <xs:element name="InvoiceId" />
      <xs:element name="InvoiceNo" type="xs:string" />
      <xs:element name="TransType" type="xs:string" />
      <xs:element name="CustId" type="arcommon:string64" />
      <xs:element name="AcctId" type="arcommon:string64" />
      <xs:element minOccurs="0" name="SubId" type="arcommon:string64" />
      <xs:element minOccurs="0" name="PriIdentify" type="xs:string" />
      <xs:element minOccurs="0" name="BillCycleId" type="arcommon:string64" />
      <xs:element minOccurs="0" name="ServiceType" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" type="xs:string" />
      <xs:element name="InvoiceAmt" type="xs:string" />
      <xs:element name="BalanceAmt" type="xs:string" />
      <xs:element minOccurs="0" name="LateFeeAmt" type="xs:string" />
      <xs:element name="InvoiceDate" />
      <xs:element name="LastUpdateDate" />
      <xs:element name="RegionId" />
      <xs:element name="RegionCode" />
      <xs:element name="BeId" />
      <xs:element name="BeCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransNotifyResult">
    <xs:all />
  </xs:complexType>
  <xs:complexType name="WriteOffRequest">
    <xs:sequence>
      <xs:element name="CustId" type="xs:long" />
      <xs:element name="AcctId" type="xs:long" />
      <xs:element minOccurs="0" name="SubId" type="xs:long" />
      <xs:element minOccurs="0" name="PriIdentify" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WriteOffResult">
    <xs:all />
  </xs:complexType>
</xs:schema>