C#/Connected Services/ArServices/ArServices39.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="QueryDepositLogRequest">
    <xs:sequence>
      <xs:element name="QueryObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PayType" type="arcommon:string64" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="OperType" type="xs:string" />
      <xs:element minOccurs="0" name="ExtTransID" type="xs:string" />
      <xs:element minOccurs="0" name="TotalRowNum" type="xs:long" />
      <xs:element minOccurs="0" name="BeginRowNum" type="xs:long" />
      <xs:element minOccurs="0" name="FetchRowNum" type="xs:long" />
      <xs:element minOccurs="0" name="StartTime" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryDepositLogResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepositInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AcctKey" type="xs:string" />
            <xs:element name="CustKey" type="xs:string" />
            <xs:element minOccurs="0" name="SubKey" type="xs:string" />
            <xs:element minOccurs="0" name="PrimaryIdentity" type="xs:string" />
            <xs:element name="OperType" type="xs:string" />
            <xs:element name="DepositType" type="xs:string" />
            <xs:element minOccurs="0" name="ExtTransID" type="xs:string" />
            <xs:element name="TradeTime" type="xs:string" />
            <xs:element name="Amount" type="xs:long" />
            <xs:element name="CurrencyID" type="xs:integer" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentMethodInfo">
              <xs:annotation>
                <xs:documentation>return for deposit payment tansaction</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PaymentMethod" type="xs:string" />
                  <xs:element name="PaymentAmt" type="xs:long" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="BankInfo" type="arcommon:BankInfo" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="RefundMethodInfo">
              <xs:annotation>
                <xs:documentation>return for deposit refund  tansaction</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="RefundMethod" type="xs:string" />
                  <xs:element name="RefundAmt" type="xs:long" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="BankInfo" type="arcommon:BankInfo" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Status" type="xs:string">
              <xs:annotation>
                <xs:documentation>Will not retrurn this node for deposit payment record</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ReasonCode" type="xs:string" />
            <xs:element minOccurs="0" name="OperID" type="xs:long" />
            <xs:element minOccurs="0" name="DeptID" type="xs:long" />
            <xs:element minOccurs="0" name="ReversalOperID" type="xs:long">
              <xs:annotation>
                <xs:documentation>Only return when the deposit payment is reversaled</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ReversalDeptID" type="xs:long">
              <xs:annotation>
                <xs:documentation>Only return when the deposit payment is reversaled</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ReversalTime" type="xs:string">
              <xs:annotation>
                <xs:documentation>Only return when the deposit payment is reversaled</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="TaxAmount" type="xs:long" />
            <xs:element minOccurs="0" name="HandlingChargeAmt" type="xs:long" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty">
              <xs:annotation>
                <xs:documentation>It is reserved for future extension</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TotalRowNum" type="xs:long" />
      <xs:element name="BeginRowNum" type="xs:long" />
      <xs:element name="FetchRowNum" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>