C#/Connected Services/ArServices/ArServices27.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="ExternalWriteOffRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="WriteOffSerialNo" type="xs:string" />
      <xs:element name="AcctAccessCode">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="arcommon:AcctAccessCode" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="WriteOffMode" type="xs:string" />
      <xs:element minOccurs="0" name="WriteOffAmount" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceList">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InvoiceNo" type="xs:string" />
            <xs:element minOccurs="0" name="WriteOffAmount" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReasonCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExternalWriteOffResult">
    <xs:sequence>
      <xs:element name="WriteOffSerialNo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WriteOffInvoiceList">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InvoiceNo" type="xs:string" />
            <xs:element name="Amount" type="xs:long" />
            <xs:element name="CurrencyID" type="xs:integer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExternalWriteOffReversalRequest">
    <xs:sequence>
      <xs:element name="WriteOffSerialNo" type="xs:string" />
      <xs:element name="AcctAccessCode">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="arcommon:AcctAccessCode" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReasonCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>