C#/Connected Services/ArServices/ArServices19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="QueryTaxRequest">
    <xs:sequence>
      <xs:element name="QueryObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PayType" type="arcommon:string64" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="SubGroupAccessCode" type="arcommon:SubGroupAccessCode" />
            <xs:element name="CustAccessCode" type="arcommon:CustAccessCode" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryTaxRequestInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="FeeAmountAR">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ChargeCode" type="xs:string" />
                  <xs:element name="ChargeAmt" type="xs:long" />
                  <xs:element name="CurrencyID" type="xs:integer" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryTaxResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="SubscriberKey" type="xs:string" />
      <xs:element minOccurs="0" name="AccountKey" type="xs:string" />
      <xs:element minOccurs="0" name="SubGroupKey" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerKey" type="xs:string" />
      <xs:element name="QueryTaxResultInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="TaxInfoAR">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="TaxCode" type="xs:string" />
                  <xs:element name="TaxAmt" type="xs:long" />
                  <xs:element minOccurs="0" name="TaxRate" type="xs:long" />
                  <xs:element name="CurrencyID" type="xs:integer" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>