C#/Connected Services/ArServices/ArServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="AdjustmentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdjustmentSerialNo" type="xs:string" />
      <xs:element name="AdjustmentObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PayType" type="arcommon:string20" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="SubGroupAccessCode" type="arcommon:SubGroupAccessCode" />
            <xs:element name="CustAccessCode" type="arcommon:CustAccessCode" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="OpType" type="xs:string">
        <xs:annotation>
          <xs:documentation>It is used to indicate the operation is adjustment or reset</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdjustmentInfo" type="arcommon:BalanceAdjustment" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FreeUnitAdjustmentInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="FreeUnitInstanceID" type="xs:long" />
            <xs:element minOccurs="0" name="FreeUnitType" type="xs:string" />
            <xs:element minOccurs="0" name="AdjustmentType" type="xs:string">
              <xs:annotation>
                <xs:documentation>It indicates the adjustment is up or down</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="AdjustmentAmt" type="xs:long" />
            <xs:element minOccurs="0" name="EffectiveTime" type="xs:string" />
            <xs:choice minOccurs="0">
              <xs:element name="ExpireTime" type="xs:string" />
              <xs:sequence>
                <xs:element name="OffsetUnit" type="xs:string" />
                <xs:element name="OffsetValue" type="xs:integer" />
              </xs:sequence>
            </xs:choice>
            <xs:sequence minOccurs="0">
              <xs:element name="SelectInstanceMode" type="xs:string" />
              <xs:element minOccurs="0" name="ValidityExtMethod" type="xs:string" />
            </xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="InvoiceNo" type="xs:string" />
            <xs:element minOccurs="0" name="InvoiceDetailID" type="xs:long" />
            <xs:element name="AdjustmentType">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:length value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="AdjustmentAmt" type="xs:long" />
            <xs:element minOccurs="0" name="CurrencyID" type="xs:integer" />
            <xs:element minOccurs="0" name="BillingCycleID" type="xs:string" />
            <xs:element minOccurs="0" name="DueDate" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="AdjustmentReasonCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty">
        <xs:annotation>
          <xs:documentation>It is reserved for future extension</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Remark" type="xs:string" />
      <xs:element minOccurs="0" name="DueDate" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdjustmentResult">
    <xs:sequence>
      <xs:element name="AdjustmentSerialNo" type="xs:string" />
      <xs:element name="AcctKey" type="xs:string" />
      <xs:element name="CustKey" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdjustmentInfo" type="arcommon:BalanceChgInfo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FreeUnitAdjustmentInfo" type="arcommon:FreeUnitChgInfo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditAdjustmentInfo" type="arcommon:CreditChgInfo" />
      <xs:element minOccurs="0" name="LifeCycleChgInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="OldLifeCycleStatus">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="StatusName" type="xs:string" />
                  <xs:element name="StatusExpireTime" type="xs:string" />
                  <xs:element name="StatusIndex" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="NewLifeCycleStatus">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="StatusName" type="xs:string" />
                  <xs:element name="StatusExpireTime" type="xs:string" />
                  <xs:element name="StatusIndex" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="CurrentStatusIndex" type="xs:string" />
            <xs:element name="ChgValidity" type="xs:integer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="OverDraftForPrepaid" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>