C#/Connected Services/ArServices/ArServices5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="QueryRefundLogRequest">
    <xs:sequence>
      <xs:element name="QueryObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PayType" type="arcommon:string64" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="StartTime" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:string" />
      <xs:element name="TotalRowNum" type="xs:integer" />
      <xs:element name="BeginRowNum" type="xs:integer" />
      <xs:element name="FetchRowNum" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryRefundLogResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RefundLogInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AcctKey" type="xs:string" />
            <xs:element name="RefundId" type="xs:long" />
            <xs:element name="RefundTime" type="xs:string" />
            <xs:element name="RefundAmount" type="xs:long" />
            <xs:element name="CurrencyID" type="xs:integer" />
            <xs:element name="CreditConsumeRule" type="xs:string">
              <xs:annotation>
                <xs:documentation>
									P???From PAYMENT
									O???From OVERPAYMENT
									D???From  DEPOSIT
								</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Reason" type="xs:string" />
            <xs:element minOccurs="0" name="OperID" type="xs:long" />
            <xs:element minOccurs="0" name="DeptID" type="xs:long" />
            <xs:element name="Status" type="xs:string" />
            <xs:element minOccurs="0" name="RefundChannel">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PaymentMethod" type="xs:string" />
                  <xs:element minOccurs="0" name="BankInfo" type="arcommon:BankInfo" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Remark" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty" />
            <xs:element minOccurs="0" name="RefundSerialNo" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TotalRowNum" type="xs:integer" />
      <xs:element name="BeginRowNum" type="xs:integer" />
      <xs:element name="FetchRowNum" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>