C#/Connected Services/ArServices/ArServices18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="QueryInvoiceRequest">
    <xs:sequence>
      <xs:element name="AcctAccessCode">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="arcommon:AcctAccessCode">
              <xs:sequence>
                <xs:element minOccurs="0" name="PayType" type="arcommon:string64" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:choice>
        <xs:element name="BillCycleID" type="arcommon:string64" />
        <xs:element name="InvoiceNo" type="xs:string" />
        <xs:element name="TimePeriod">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="StartTime" type="xs:string" />
              <xs:element name="EndTime" type="xs:string" />
              <xs:element minOccurs="0" name="PeriodMode" type="arcommon:string64" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="NumberOfBillCycle" type="xs:long" />
        <xs:element name="OutstandingFlag" type="arcommon:string64" />
      </xs:choice>
      <xs:sequence minOccurs="0">
        <xs:element name="TotalRowNum" type="xs:long" />
        <xs:element name="BeginRowNum" type="xs:long" />
        <xs:element name="FetchRowNum" type="xs:long" />
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryInvoiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AcctKey" type="xs:string" />
            <xs:element name="AcctCode" type="xs:string" />
            <xs:element name="CustKey" type="xs:string" />
            <xs:element minOccurs="0" name="SubKey" type="xs:string" />
            <xs:element minOccurs="0" name="PrimaryIdentity" type="xs:string" />
            <xs:element name="TransType" type="xs:string" />
            <xs:element name="InvoiceID" type="xs:long" />
            <xs:element name="InvoiceNo" type="xs:string" />
            <xs:element minOccurs="0" name="BillCycleID" type="xs:string" />
            <xs:element minOccurs="0" name="BillCycleBeginTime" type="xs:string" />
            <xs:element minOccurs="0" name="BillCycleEndTime" type="xs:string" />
            <xs:element name="InvoiceAmount" type="xs:long" />
            <xs:element name="OpenAmount" type="xs:long" />
            <xs:element minOccurs="0" name="TaxAmount" type="xs:long" />
            <xs:element minOccurs="0" name="OpenTaxAmount" type="xs:long" />
            <xs:element minOccurs="0" name="DisputeAmount" type="xs:long" />
            <xs:element minOccurs="0" name="DiscountAmount" type="xs:long" />
            <xs:element name="CurrencyID" type="xs:integer" />
            <xs:element name="InvoiceDate" type="xs:string" />
            <xs:element name="DueDate" type="xs:string" />
            <xs:element minOccurs="0" name="SettleDate" type="xs:string" />
            <xs:element name="Status" type="xs:string" />
            <xs:element maxOccurs="unbounded" name="InvoiceDetail">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="InvoiceID" type="xs:long" />
                  <xs:element name="ServiceCategory" type="xs:string" />
                  <xs:element minOccurs="0" name="ChargeCode" type="xs:string" />
                  <xs:element name="ChargeAmount" type="xs:long" />
                  <xs:element minOccurs="0" name="OfferingID" type="xs:integer" />
                  <xs:element minOccurs="0" name="DiscountAmt" type="xs:long" />
                  <xs:element name="OpenAmount" type="xs:long" />
                  <xs:element minOccurs="0" name="TaxAmount" type="xs:long" />
                  <xs:element minOccurs="0" name="OpenTaxAmount" type="xs:long" />
                  <xs:element minOccurs="0" name="DisputeAmount" type="xs:long" />
                  <xs:element name="CurrencyID" type="xs:integer" />
                  <xs:element name="Status" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="CustomerName" type="xs:string" />
            <xs:element minOccurs="0" name="CustomerAddress" type="xs:string" />
            <xs:element minOccurs="0" name="SubscriberNo" type="xs:string" />
            <xs:element minOccurs="0" name="InvoicePath" type="xs:string" />
            <xs:element minOccurs="0" name="ReasonCode" type="xs:string" />
            <xs:element minOccurs="0" name="TotalRowNum" type="xs:long" />
            <xs:element minOccurs="0" name="BillFlag" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:sequence minOccurs="0">
        <xs:element name="TotalRowNum" type="xs:long" />
        <xs:element name="BeginRowNum" type="xs:long" />
        <xs:element name="FetchRowNum" type="xs:long" />
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
</xs:schema>