C#/Connected Services/ArServices/ArServices28.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://cbs.huawei.com/ar/wsservice/arcommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>COMMON</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="DateTime">
    <xs:annotation>
      <xs:documentation>Format is YYYYMMDD24hhmmss.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="14" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Tax">
    <xs:sequence>
      <xs:element name="TaxCode" type="xs:string" />
      <xs:element name="TaxAmount" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SimpleProperty">
    <xs:sequence>
      <xs:element name="Code" type="xs:string">
        <xs:annotation />
      </xs:element>
      <xs:element name="Value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubGroupAccessCode">
    <xs:choice>
      <xs:element name="SubGroupKey" type="xs:string" />
      <xs:element name="SubGroupCode" type="xs:string" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CustAccessCode">
    <xs:choice>
      <xs:element name="CustomerKey" type="xs:string" />
      <xs:element name="CustomerCode" type="xs:string" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="SubAccessCodeWithAuth">
    <xs:sequence>
      <xs:choice>
        <xs:element name="PrimaryIdentity" type="xs:string" />
        <xs:element name="SubscriberKey" type="xs:string" />
      </xs:choice>
      <xs:element minOccurs="0" name="Password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubAccessCode">
    <xs:choice>
      <xs:element name="PrimaryIdentity" type="xs:string" />
      <xs:element name="SubscriberKey" type="xs:string" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AcctAccessCodeWithAuth">
    <xs:sequence>
      <xs:choice>
        <xs:element name="PrimaryIdentity" type="xs:string">
          <xs:annotation>
            <xs:documentation>Identify the default Account which the Primary Identity Use.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="AccountKey" type="xs:string" />
        <xs:element name="AccountCode" type="xs:string" />
      </xs:choice>
      <xs:element minOccurs="0" name="Password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctAccessCode">
    <xs:choice>
      <xs:element name="PrimaryIdentity" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identify the default Account which the Primary Identity Use.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccountKey" type="xs:string" />
      <xs:element name="AccountCode" type="xs:string" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ChargeDetailValue">
    <xs:sequence>
      <xs:element name="ChargeSeq" type="xs:string" />
      <xs:element name="ChargeCode" type="xs:string" />
      <xs:element minOccurs="0" name="OfferingID" type="xs:integer" />
      <xs:element minOccurs="0" name="OfferingName" type="xs:string" />
      <xs:element minOccurs="0" name="SalesQty" type="xs:integer" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:long" />
      <xs:element name="ChargeAmt" type="xs:long" />
      <xs:element minOccurs="0" name="DiscountAmt" type="xs:long" />
      <xs:element minOccurs="0" name="WaiveAmt" type="xs:long" />
      <xs:element minOccurs="0" name="ResTypeID" type="xs:string" />
      <xs:element minOccurs="0" name="ResModeID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tax" type="arcommon:Tax" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty">
        <xs:annotation>
          <xs:documentation>It is reserved for future extension</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeeDetailValue">
    <xs:sequence>
      <xs:element name="ChargeSeq" type="xs:string" />
      <xs:element name="ChargeCode" type="xs:string" />
      <xs:element minOccurs="0" name="OfferingID" type="xs:integer" />
      <xs:element name="CurrencyID" type="xs:integer" />
      <xs:element minOccurs="0" name="SalesAmount" type="xs:integer" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:long" />
      <xs:element name="ChargeAmt" type="xs:long" />
      <xs:element name="DiscountAmt" type="xs:long" />
      <xs:element name="WaiveAmt" type="xs:long" />
      <xs:element minOccurs="0" name="ResTypeID" type="xs:string" />
      <xs:element minOccurs="0" name="ResModeID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tax" type="arcommon:Tax" />
      <xs:element minOccurs="0" name="ChargeType" type="xs:string" />
      <xs:element minOccurs="0" name="DepositType" type="xs:string" />
      <xs:element minOccurs="0" name="ExpectedReleaseDate" type="xs:string">
        <xs:annotation>
          <xs:documentation>Only available when charge type is set to D </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="PaymentDetail" type="arcommon:PaymentDetailValue" />
      <xs:element minOccurs="0" name="Remark" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty">
        <xs:annotation>
          <xs:documentation>It is reserved for future extension</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FeeDetailValue2">
    <xs:sequence>
      <xs:element name="ChargeSeq" type="xs:string" />
      <xs:element name="ChargeCode" type="xs:string" />
      <xs:element minOccurs="0" name="OfferingID" type="xs:integer" />
      <xs:element minOccurs="0" name="SalesAmount" type="xs:integer" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:long" />
      <xs:element name="ChargeAmt" type="xs:long" />
      <xs:element name="DiscountAmt" type="xs:long" />
      <xs:element name="WaiveAmt" type="xs:long" />
      <xs:element minOccurs="0" name="ResTypeID" type="xs:string" />
      <xs:element minOccurs="0" name="ResModeID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tax" type="arcommon:Tax" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty">
        <xs:annotation>
          <xs:documentation>It is reserved for future extension</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="OfferingName" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentDetailValue">
    <xs:sequence>
      <xs:element name="PaymentMethod" type="xs:string" />
      <xs:element name="CurrencyID" type="xs:integer" />
      <xs:element name="Amount" type="xs:long" />
      <xs:element minOccurs="0" name="BankCode" type="xs:string" />
      <xs:element minOccurs="0" name="BankBranchCode" type="xs:string" />
      <xs:element minOccurs="0" name="AcctType" type="xs:string" />
      <xs:element minOccurs="0" name="AcctNo" type="xs:string" />
      <xs:element minOccurs="0" name="CreditCardType" type="xs:string" />
      <xs:element minOccurs="0" name="ExpDate" type="xs:string" />
      <xs:element minOccurs="0" name="CVVNumber" type="xs:string" />
      <xs:element minOccurs="0" name="ChequeNo" type="xs:string" />
      <xs:element minOccurs="0" name="ChequeDate" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankCode" type="xs:string" />
      <xs:element minOccurs="0" name="BankBranchCode" type="xs:string" />
      <xs:element minOccurs="0" name="AcctType" type="xs:string" />
      <xs:element minOccurs="0" name="AcctNo" type="xs:string" />
      <xs:element minOccurs="0" name="CreditCardType" type="xs:string" />
      <xs:element minOccurs="0" name="AcctName" type="xs:string" />
      <xs:element minOccurs="0" name="ExpDate" type="xs:string" />
      <xs:element minOccurs="0" name="CVVNumber" type="xs:string" />
      <xs:element minOccurs="0" name="CheckNo" type="xs:string" />
      <xs:element minOccurs="0" name="CheckDate" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BalanceAdjustment">
    <xs:sequence>
      <xs:element minOccurs="0" name="BalanceType" type="xs:string" />
      <xs:element minOccurs="0" name="BalanceID" type="xs:long" />
      <xs:element minOccurs="0" name="AdjustmentType" type="xs:string">
        <xs:annotation>
          <xs:documentation>It indicates the adjustment is up or down</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AdjustmentAmt" type="xs:long" />
      <xs:element minOccurs="0" name="CurrencyID" type="xs:integer" />
      <xs:element minOccurs="0" name="EffectiveTime" type="xs:string" />
      <xs:choice minOccurs="0">
        <xs:element name="ExpireTime" type="xs:string" />
        <xs:sequence>
          <xs:element name="OffsetUnit" type="xs:string" />
          <xs:element name="OffsetValue" type="xs:integer" />
        </xs:sequence>
      </xs:choice>
      <xs:sequence minOccurs="0">
        <xs:element name="SelectInstanceMode" type="xs:string" />
        <xs:element minOccurs="0" name="ValidityExtMethod" type="xs:string" />
      </xs:sequence>
      <xs:element minOccurs="0" name="Owner">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="SubGroupAccessCode" type="arcommon:SubGroupAccessCode" />
            <xs:element name="CustAccessCode" type="arcommon:CustAccessCode" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalProperty" type="arcommon:SimpleProperty">
        <xs:annotation>
          <xs:documentation>It is reserved for future extension</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctBalance">
    <xs:sequence>
      <xs:element name="BalanceType" type="xs:string" />
      <xs:element minOccurs="0" name="BalanceTypeName" type="xs:string" />
      <xs:element name="TotalAmount" type="xs:long" />
      <xs:element minOccurs="0" name="ReservedAmount" type="xs:long" />
      <xs:element name="DepositFlag" type="xs:string" />
      <xs:element name="RefundFlag" type="xs:string" />
      <xs:element name="CurrencyID" type="xs:integer" />
      <xs:element maxOccurs="unbounded" name="BalanceDetail">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="BalanceInstanceID" type="xs:long" />
            <xs:element name="Amount" type="xs:long" />
            <xs:element name="InitialAmount" type="xs:long" />
            <xs:element name="EffectiveTime" type="xs:string" />
            <xs:element name="ExpireTime" type="xs:string" />
            <xs:element minOccurs="0" name="AcctBalOriginal">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="OriginalType" type="xs:string" />
                  <xs:element name="OriginalID" type="xs:long">
                    <xs:annotation>
                      <xs:documentation>当OriginalType为1时，此字段表示OfferingID；当OriginalType为2时，此字段表示全局计划标识</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="LastUpdateTime" type="xs:string" />
            <xs:element minOccurs="0" name="PrimaryIdentity" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoanChgInfo">
    <xs:sequence>
      <xs:element name="OldLoanAmt" type="xs:long" />
      <xs:element name="NewLoanAmt" type="xs:long" />
      <xs:element name="LoanPaymentAmt" type="xs:long" />
      <xs:element name="LoanInterestAmt" type="xs:long" />
      <xs:element name="CurrencyID" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BalanceChgInfo">
    <xs:sequence>
      <xs:element name="BalanceType" type="xs:string" />
      <xs:element minOccurs="0" name="BalanceID" type="xs:long" />
      <xs:element minOccurs="0" name="BalanceTypeName" type="xs:string" />
      <xs:element name="OldBalanceAmt" type="xs:long" />
      <xs:element name="NewBalanceAmt" type="xs:long" />
      <xs:element name="ChgBalanceAmt" type="xs:long" />
      <xs:element name="CurrencyID" type="xs:integer" />
      <xs:element minOccurs="0" name="InvoiceNo" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveTime" type="xs:string" />
      <xs:element minOccurs="0" name="ExpireTime" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OfferingInfo">
    <xs:sequence>
      <xs:element name="OfferingID" nillable="true" type="xs:integer" />
      <xs:element minOccurs="0" name="PurchaseSeq" type="xs:string" />
      <xs:element name="OwnerType" nillable="true" type="xs:string" />
      <xs:element name="OwnerID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeUnitChgInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FreeUnitInstanceID" type="xs:long" />
      <xs:element name="FreeUnitType" type="xs:string" />
      <xs:element minOccurs="0" name="FreeUnitTypeName" type="xs:string" />
      <xs:element name="MeasureUnit" type="xs:integer" />
      <xs:element minOccurs="0" name="MeasureUnitName" type="xs:string" />
      <xs:element name="OldAmt" type="xs:long" />
      <xs:element name="NewAmt" type="xs:long" />
      <xs:element minOccurs="0" name="EffectiveTime" type="xs:string" />
      <xs:element minOccurs="0" name="ExpireTime" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditChgInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditLimitID" type="xs:long" />
      <xs:element name="CreditLimitType" type="xs:string" />
      <xs:element minOccurs="0" name="CreditLimitTypeName" type="xs:string" />
      <xs:element name="OldLeftCreditAmt" type="xs:long" />
      <xs:element name="NewLeftCreditAmt" type="xs:long" />
      <xs:element name="MeasureUnit" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="string20">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string64">
    <xs:restriction base="xs:string">
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MainAcctBalance">
    <xs:sequence>
      <xs:element name="BalanceType" type="xs:string" />
      <xs:element minOccurs="0" name="BalanceTypeName" type="xs:string" />
      <xs:element name="TotalAmount" type="xs:long" />
      <xs:element name="DepositFlag" type="xs:string" />
      <xs:element name="RefundFlag" type="xs:string" />
      <xs:element name="CurrencyID" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OfferingKey">
    <xs:sequence>
      <xs:choice>
        <xs:element name="OfferingID" nillable="true" type="xs:integer">
          <xs:annotation>
            <xs:documentation>It is the offering ID which is defined in PC module.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OfferingCode" type="xs:string" />
      </xs:choice>
      <xs:element minOccurs="0" name="PurchaseSeq" type="xs:string">
        <xs:annotation>
          <xs:documentation>It is the purchase seqence of this subscription. If an offering can be purchased more than once, system use this field to distinguish different offering subscription instance.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BonusOffering">
    <xs:sequence>
      <xs:element name="OfferInstID" type="xs:integer" />
      <xs:element name="OfferID" type="xs:integer" />
      <xs:element name="OwnType" type="xs:string" />
      <xs:element name="OwnerInstID" type="xs:integer" />
      <xs:element name="ApplyTime" type="xs:string" />
      <xs:element name="ExpireTime" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>