C#/Connected Services/ArServices/ArServices20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="QueryBalanceRequest">
    <xs:sequence>
      <xs:element name="QueryObj">
        <xs:complexType>
          <xs:choice>
            <xs:element name="SubAccessCode" type="arcommon:SubAccessCode" />
            <xs:element name="AcctAccessCode">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="arcommon:AcctAccessCode">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="PayType" type="arcommon:string64" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="BalanceType" type="xs:string" />
      <xs:element minOccurs="0" name="BalanceBelongSubFlag" type="xs:integer" />
      <xs:element minOccurs="0" name="AccurateQuery" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryBalanceResult">
    <xs:sequence>
      <xs:element maxOccurs="2" name="AcctList">
        <xs:annotation>
          <xs:documentation>?????????????????????????????????Hybrid??????????????????????????????????????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AcctKey" type="xs:string" />
            <xs:element maxOccurs="unbounded" name="BalanceResult" type="arcommon:AcctBalance" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="OutStandingList">
              <xs:annotation>
                <xs:documentation>????????????????????????????????????????????????????????? ???????????????????????????????????????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="BillCycleID" type="xs:string" />
                  <xs:element name="BillCycleBeginTime" type="xs:string" />
                  <xs:element name="BillCycleEndTime" type="xs:string" />
                  <xs:element name="DueDate" type="xs:string" />
                  <xs:element maxOccurs="unbounded" name="OutStandingDetail">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="OutStandingAmount" type="xs:long" />
                        <xs:element name="CurrencyID" type="xs:integer" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountCredit">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="CreditLimitType" type="xs:string" />
                  <xs:element minOccurs="0" name="CreditLimitTypeName" type="xs:string" />
                  <xs:element name="TotalCreditAmount" type="xs:long" />
                  <xs:element name="TotalUsageAmount" type="xs:long" />
                  <xs:element name="TotalRemainAmount" type="xs:long" />
                  <xs:element name="CurrencyID" type="xs:integer" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditAmountInfo">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="CreditInstID" type="xs:long" />
                        <xs:element name="LimitClass" type="xs:string">
                          <xs:annotation>
                            <xs:documentation>I: ???????????????
T: ???????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="Amount" type="xs:long" />
                        <xs:element name="EffectiveTime" type="xs:string" />
                        <xs:element name="ExpireTime" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>