C#/Connected Services/ArServices/ArServices8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="QueryInvoiceDetailRequest">
    <xs:sequence>
      <xs:element name="AccountKey" type="xs:string" />
      <xs:element name="InvoiceID" type="xs:long" />
      <xs:element name="TotalRowNum" type="xs:long" />
      <xs:element name="BeginRowNum" type="xs:long" />
      <xs:element name="FetchRowNum" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryInvoiceDetailResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceDetail">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InvoiceDetailID" type="xs:long" />
            <xs:element name="ServiceCategory" type="xs:string" />
            <xs:element minOccurs="0" name="ChargeCode" type="xs:string" />
            <xs:element name="ChargeAmount" type="xs:long" />
            <xs:element minOccurs="0" name="OfferingID" type="xs:integer" />
            <xs:element minOccurs="0" name="DiscountAmt" type="xs:long" />
            <xs:element name="OpenAmount" type="xs:long" />
            <xs:element minOccurs="0" name="TaxAmount" type="xs:long" />
            <xs:element minOccurs="0" name="DisputeAmount" type="xs:long" />
            <xs:element name="CurrencyID" type="xs:integer" />
            <xs:element name="Status" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TotalRowNum" type="xs:long" />
      <xs:element name="BeginRowNum" type="xs:long" />
      <xs:element name="FetchRowNum" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>