C#/Connected Services/ArServices/ArServices16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:arcommon="http://cbs.huawei.com/ar/wsservice/arcommon" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ArServices?xsd=CBSInterface_AR_Common.xsd" namespace="http://cbs.huawei.com/ar/wsservice/arcommon" />
  <xs:complexType name="InnerBilling2ArNotifyRequest">
    <xs:sequence>
      <xs:element name="BillCycleId" type="arcommon:string64" />
      <xs:element name="BrGrpId" type="arcommon:string64" />
      <xs:element name="BillCommandSeq" type="arcommon:string64" />
      <xs:element name="FlowId" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:string" />
      <xs:element minOccurs="0" name="AcctId" type="arcommon:string64" />
      <xs:element minOccurs="0" name="CutTrxDate" type="xs:string" />
      <xs:element minOccurs="0" name="DeptId" type="arcommon:string64" />
      <xs:element minOccurs="0" name="OperId" type="arcommon:string64" />
      <xs:element minOccurs="0" name="BeId" type="arcommon:string64" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>