C#/HSAPI/Connected Services/StatemgrtMgrService/StatemgrtMgrService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://www.huawei.com/bme/cbsinterface/statemgrt" xmlns:common="http://www.huawei.com/bme/cbsinterface/common" xmlns:statemgrtmgr="http://www.huawei.com/bme/cbsinterface/statemgrtmgr" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.huawei.com/bme/cbsinterface/statemgrtmgr" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:statemgrt="http://www.huawei.com/bme/cbsinterface/statemgrt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.huawei.com/bme/cbsinterface/statemgrtmgr">
      <xs:import schemaLocation="CBSInterface_StateMgrt.xsd" namespace="http://www.huawei.com/bme/cbsinterface/statemgrt" />
      <xs:element name="SuspendRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="SuspendRequest" type="statemgrt:SuspendRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SuspendResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReconnectRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="ReconnectRequest" type="statemgrt:ReconnectRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReconnectResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ClaimMissingRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="ClaimMissingRequest" type="statemgrt:ClaimMissingRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ClaimMissingResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DisclaimMissingRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="DisclaimMissingRequest" type="statemgrt:DisclaimMissingRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DisclaimMissingResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ModifySubscriberValidityRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="ModifySubscriberValidityRequest" type="statemgrt:ModifySubscriberValidityRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ModifySubscriberValidityResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="ModifySubscriberValidityResult" type="statemgrt:ModifySubscriberValidityResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryAdjustValidityLogRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QueryAdjustValidityLogRequest" type="statemgrt:QueryAdjustValidityLogRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryAdjustValidityLogResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QueryAdjustValidityLogResult" type="statemgrt:QueryAdjustValidityLogResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QuerySubChangeLogRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QuerySubChangeLogRequest" type="statemgrt:QuerySubChangeLogRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QuerySubChangeLogResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QuerySubChangeLogResult" type="statemgrt:QuerySubChangeLogResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ManageETUFraudStateRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="ManageETUFraudStateRequest" type="statemgrt:ManageETUFraudStateRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ManageETUFraudStateResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BalanceToValidityRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="BalanceToValidityRequest" type="statemgrt:BalanceToValidityRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BalanceToValidityResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="BalanceToValidityResult" type="statemgrt:BalanceToValidityResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ModifyLastActiveDateRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="ModifyLastActiveDateRequest" type="statemgrt:ModifyLastActiveDateRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ModifyLastActiveDateResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BatchModLastActDateRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="BatchModLastActDateRequest" type="statemgrt:BatchModLastActDateRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BatchModLastActDateResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BatchModifySubValidityRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="BatchModifySubValidityRequest" type="statemgrt:BatchModifySubValidityRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BatchModifySubValidityResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ChangingSubscriberStatusRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="ChangingSubscriberStatusRequest" type="statemgrt:ChangingSubscriberStatusRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ChangingSubscriberStatusResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QuerySereveStatusRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="QuerySereveStatusRequest" type="statemgrt:QuerySereveStatusRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QuerySereveStatusResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="QuerySereveStatusResult" type="statemgrt:QuerySereveStatusResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="ModifySubscriberValidityRequestMessage">
    <part name="ModifySubscriberValidityRequestMsg" element="statemgrtmgr:ModifySubscriberValidityRequestMsg" />
  </message>
  <message name="ChangingSubscriberStatusResultMessage">
    <part name="ChangingSubscriberStatusResultMsg" element="statemgrtmgr:ChangingSubscriberStatusResultMsg" />
  </message>
  <message name="QueryAdjustValidityLogRequestMessage">
    <part name="QueryAdjustValidityLogRequestMsg" element="statemgrtmgr:QueryAdjustValidityLogRequestMsg" />
  </message>
  <message name="ModifyLastActiveDateRequestMessage">
    <part name="ModifyLastActiveDateRequestMsg" element="statemgrtmgr:ModifyLastActiveDateRequestMsg" />
  </message>
  <message name="BatchModifySubValidityRequestMessage">
    <part name="BatchModifySubValidityRequestMsg" element="statemgrtmgr:BatchModifySubValidityRequestMsg" />
  </message>
  <message name="SuspendResultMessage">
    <part name="SuspendResultMsg" element="statemgrtmgr:SuspendResultMsg" />
  </message>
  <message name="QuerySereveStatusRequestMessage">
    <part name="QuerySereveStatusRequestMsg" element="statemgrtmgr:QuerySereveStatusRequestMsg" />
  </message>
  <message name="ReconnectResultMessage">
    <part name="ReconnectResultMsg" element="statemgrtmgr:ReconnectResultMsg" />
  </message>
  <message name="BatchModifySubValidityResultMessage">
    <part name="BatchModifySubValidityResultMsg" element="statemgrtmgr:BatchModifySubValidityResultMsg" />
  </message>
  <message name="ReconnectRequestMessage">
    <part name="ReconnectRequestMsg" element="statemgrtmgr:ReconnectRequestMsg" />
  </message>
  <message name="QueryAdjustValidityLogResultMessage">
    <part name="QueryAdjustValidityLogResultMsg" element="statemgrtmgr:QueryAdjustValidityLogResultMsg" />
  </message>
  <message name="ClaimMissingResultMessage">
    <part name="ClaimMissingResultMsg" element="statemgrtmgr:ClaimMissingResultMsg" />
  </message>
  <message name="SuspendRequestMessage">
    <part name="SuspendRequestMsg" element="statemgrtmgr:SuspendRequestMsg" />
  </message>
  <message name="ModifySubscriberValidityResultMessage">
    <part name="ModifySubscriberValidityResultMsg" element="statemgrtmgr:ModifySubscriberValidityResultMsg" />
  </message>
  <message name="BalanceToValidityResultMessage">
    <part name="BalanceToValidityResultMsg" element="statemgrtmgr:BalanceToValidityResultMsg" />
  </message>
  <message name="ChangingSubscriberStatusRequestMessage">
    <part name="ChangingSubscriberStatusRequestMsg" element="statemgrtmgr:ChangingSubscriberStatusRequestMsg" />
  </message>
  <message name="QuerySubChangeLogRequestMessage">
    <part name="QuerySubChangeLogRequestMsg" element="statemgrtmgr:QuerySubChangeLogRequestMsg" />
  </message>
  <message name="QuerySubChangeLogResultMessage">
    <part name="QuerySubChangeLogResultMsg" element="statemgrtmgr:QuerySubChangeLogResultMsg" />
  </message>
  <message name="BatchModLastActDateRequestMessage">
    <part name="BatchModLastActDateRequestMsg" element="statemgrtmgr:BatchModLastActDateRequestMsg" />
  </message>
  <message name="ManageETUFraudStateRequestMessage">
    <part name="ManageETUFraudStateRequestMsg" element="statemgrtmgr:ManageETUFraudStateRequestMsg" />
  </message>
  <message name="ClaimMissingRequestMessage">
    <part name="ClaimMissingRequestMsg" element="statemgrtmgr:ClaimMissingRequestMsg" />
  </message>
  <message name="ManageETUFraudStateResultMessage">
    <part name="ManageETUFraudStateResultMsg" element="statemgrtmgr:ManageETUFraudStateResultMsg" />
  </message>
  <message name="QuerySereveStatusResultMessage">
    <part name="QuerySereveStatusResultMsg" element="statemgrtmgr:QuerySereveStatusResultMsg" />
  </message>
  <message name="BalanceToValidityRequestMessage">
    <part name="BalanceToValidityRequestMsg" element="statemgrtmgr:BalanceToValidityRequestMsg" />
  </message>
  <message name="DisclaimMissingResultMessage">
    <part name="DisclaimMissingResultMsg" element="statemgrtmgr:DisclaimMissingResultMsg" />
  </message>
  <message name="BatchModLastActDateResultMessage">
    <part name="BatchModLastActDateResultMsg" element="statemgrtmgr:BatchModLastActDateResultMsg" />
  </message>
  <message name="DisclaimMissingRequestMessage">
    <part name="DisclaimMissingRequestMsg" element="statemgrtmgr:DisclaimMissingRequestMsg" />
  </message>
  <message name="ModifyLastActiveDateResultMessage">
    <part name="ModifyLastActiveDateResultMsg" element="statemgrtmgr:ModifyLastActiveDateResultMsg" />
  </message>
  <portType name="Statemgrt">
    <operation name="suspend">
      <input message="statemgrtmgr:SuspendRequestMessage" />
      <output message="statemgrtmgr:SuspendResultMessage" />
    </operation>
    <operation name="reconnect">
      <input message="statemgrtmgr:ReconnectRequestMessage" />
      <output message="statemgrtmgr:ReconnectResultMessage" />
    </operation>
    <operation name="claimMissing">
      <input message="statemgrtmgr:ClaimMissingRequestMessage" />
      <output message="statemgrtmgr:ClaimMissingResultMessage" />
    </operation>
    <operation name="disclaimMissing">
      <input message="statemgrtmgr:DisclaimMissingRequestMessage" />
      <output message="statemgrtmgr:DisclaimMissingResultMessage" />
    </operation>
    <operation name="modifySubscriberValidity">
      <input message="statemgrtmgr:ModifySubscriberValidityRequestMessage" />
      <output message="statemgrtmgr:ModifySubscriberValidityResultMessage" />
    </operation>
    <operation name="queryAdjustValidityLog">
      <input message="statemgrtmgr:QueryAdjustValidityLogRequestMessage" />
      <output message="statemgrtmgr:QueryAdjustValidityLogResultMessage" />
    </operation>
    <operation name="querySubChangeLog">
      <input message="statemgrtmgr:QuerySubChangeLogRequestMessage" />
      <output message="statemgrtmgr:QuerySubChangeLogResultMessage" />
    </operation>
    <operation name="manageETUFraudState">
      <input message="statemgrtmgr:ManageETUFraudStateRequestMessage" />
      <output message="statemgrtmgr:ManageETUFraudStateResultMessage" />
    </operation>
    <operation name="balanceToValidity">
      <input message="statemgrtmgr:BalanceToValidityRequestMessage" />
      <output message="statemgrtmgr:BalanceToValidityResultMessage" />
    </operation>
    <operation name="modifyLastActiveDate">
      <input message="statemgrtmgr:ModifyLastActiveDateRequestMessage" />
      <output message="statemgrtmgr:ModifyLastActiveDateResultMessage" />
    </operation>
    <operation name="batchModLastActDate">
      <input message="statemgrtmgr:BatchModLastActDateRequestMessage" />
      <output message="statemgrtmgr:BatchModLastActDateResultMessage" />
    </operation>
    <operation name="batchModifySubValidity">
      <input message="statemgrtmgr:BatchModifySubValidityRequestMessage" />
      <output message="statemgrtmgr:BatchModifySubValidityResultMessage" />
    </operation>
    <operation name="changingSubscriberStatus">
      <input message="statemgrtmgr:ChangingSubscriberStatusRequestMessage" />
      <output message="statemgrtmgr:ChangingSubscriberStatusResultMessage" />
    </operation>
    <operation name="querySereveStatus">
      <input message="statemgrtmgr:QuerySereveStatusRequestMessage" />
      <output message="statemgrtmgr:QuerySereveStatusResultMessage" />
    </operation>
  </portType>
  <binding name="StatemgrtSoap12Binding" type="statemgrtmgr:Statemgrt">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="suspend">
      <soap12:operation soapAction="suspend" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="reconnect">
      <soap12:operation soapAction="reconnect" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="claimMissing">
      <soap12:operation soapAction="claimMissing" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="disclaimMissing">
      <soap12:operation soapAction="disclaimMissing" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="modifySubscriberValidity">
      <soap12:operation soapAction="modifySubscriberValidity" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="queryAdjustValidityLog">
      <soap12:operation soapAction="queryAdjustValidityLog" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="querySubChangeLog">
      <soap12:operation soapAction="querySubChangeLog" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="manageETUFraudState">
      <soap12:operation soapAction="manageETUFraudState" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="balanceToValidity">
      <soap12:operation soapAction="balanceToValidity" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="modifyLastActiveDate">
      <soap12:operation soapAction="modifyLastActiveDate" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="batchModLastActDate">
      <soap12:operation soapAction="batchModLastActDate" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="batchModifySubValidity">
      <soap12:operation soapAction="batchModifySubValidity" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="changingSubscriberStatus">
      <soap12:operation soapAction="changingSubscriberStatus" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="querySereveStatus">
      <soap12:operation soapAction="querySereveStatus" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
  </binding>
  <binding name="StatemgrtBinding" type="statemgrtmgr:Statemgrt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="suspend">
      <soap:operation soapAction="suspend" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reconnect">
      <soap:operation soapAction="reconnect" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="claimMissing">
      <soap:operation soapAction="claimMissing" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="disclaimMissing">
      <soap:operation soapAction="disclaimMissing" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modifySubscriberValidity">
      <soap:operation soapAction="modifySubscriberValidity" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="queryAdjustValidityLog">
      <soap:operation soapAction="queryAdjustValidityLog" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="querySubChangeLog">
      <soap:operation soapAction="querySubChangeLog" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="manageETUFraudState">
      <soap:operation soapAction="manageETUFraudState" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="balanceToValidity">
      <soap:operation soapAction="balanceToValidity" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modifyLastActiveDate">
      <soap:operation soapAction="modifyLastActiveDate" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="batchModLastActDate">
      <soap:operation soapAction="batchModLastActDate" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="batchModifySubValidity">
      <soap:operation soapAction="batchModifySubValidity" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="changingSubscriberStatus">
      <soap:operation soapAction="changingSubscriberStatus" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="querySereveStatus">
      <soap:operation soapAction="querySereveStatus" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="StatemgrtMgrService">
    <port name="StatemgrtServicePort" binding="statemgrtmgr:StatemgrtBinding">
      <soap:address location="http://www.huawei.com/bme/cbsinterface/statemgrt/wsdl/CBSInterface_StateMgrt.wsdl" />
    </port>
    <port name="StatemgrtMgrServiceSoap12Port" binding="statemgrtmgr:StatemgrtSoap12Binding">
      <soap12:address location="http://www.huawei.com/bme/cbsinterface/statemgrt/wsdl/CBSInterface_StateMgrt.wsdl" />
    </port>
  </service>
</definitions>