C#/Connected Services/ChangePrimaryOfferMgrService/ChangePrimaryOfferMgrService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:changeprimaryoffer="http://www.huawei.com/bme/cbsinterface/changeprimaryoffer" xmlns:subscribe="http://www.huawei.com/bme/cbsinterface/subscribe" xmlns:common="http://www.huawei.com/bme/cbsinterface/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.huawei.com/bme/cbsinterface/changeprimaryoffer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ChangePrimaryOfferMgrService?xsd=CBSInterface_Common.xsd" namespace="http://www.huawei.com/bme/cbsinterface/common" />
  <xs:import schemaLocation="ChangePrimaryOfferMgrService?xsd=CBSInterface_Subscribe.xsd" namespace="http://www.huawei.com/bme/cbsinterface/subscribe" />
  <xs:complexType name="ChangePrimaryOfferRequest">
    <xs:sequence>
      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="common:Account">
              <xs:sequence>
                <xs:element minOccurs="0" name="OperType" type="xs:int">
                  <xs:annotation>
                    <xs:documentation>1-?????????3-??????????????????1</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="NewBillCycleType" type="common:BillCycleType" />
                <xs:element minOccurs="0" name="IsCustShareAcct" type="xs:boolean">
                  <xs:annotation>
                    <xs:documentation>??????????????????????????????????????????false</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="NewPrimaryOffer">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="subscribe:OfferOrder">
              <xs:sequence>
                <xs:element minOccurs="0" name="AccountCode" type="common:AccountCode">
                  <xs:annotation>
                    <xs:documentation>Reserved</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Subscriber">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="SubscriberNo" type="common:SubscriberNo" />
                      <xs:element name="MainProductId" type="common:ProductId" />
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" type="subscribe:Product" />
                      <xs:element minOccurs="0" name="ComponentID" nillable="true" type="xs:int" />
                      <xs:element minOccurs="0" name="AccountCode" type="common:AccountCode" />
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleProperty" type="common:SimpleProperty" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="NewOptionalOffer">
                  <xs:complexType>
                    <xs:complexContent mixed="false">
                      <xs:extension base="subscribe:OptionalOfferOrder">
                        <xs:sequence>
                          <xs:element minOccurs="0" name="OfferOrderKey" type="common:OfferOrderKey" />
                        </xs:sequence>
                      </xs:extension>
                    </xs:complexContent>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="OfferOrderKey" type="common:OfferOrderKey" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="OldPrimaryOffer">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Id" type="common:OfferId" />
            <xs:element minOccurs="0" name="OfferOrderKey" type="common:OfferOrderKey" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="DeletedOptionalOffer">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Id" type="common:OfferId" />
                  <xs:element minOccurs="0" name="OfferOrderKey" type="common:OfferOrderKey" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ValidMode" type="subscribe:EffectMode" />
      <xs:element minOccurs="0" name="HandleChargeFlag" type="common:HandleChargeFlag" />
      <xs:element minOccurs="0" name="ResetSwitchCOSCounter" type="xs:int" />
      <xs:element minOccurs="0" name="ResetBalance" type="xs:int" />
      <xs:element minOccurs="0" name="NewCustID" type="common:CustomerCode" />
      <xs:element minOccurs="0" name="NewAcctID" type="common:AccountCode" />
      <xs:element minOccurs="0" name="NewSubID" type="common:SubscriberCode" />
      <xs:element minOccurs="0" name="LocalID">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="IMSI">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="AccountSlaver" type="common:Account" />
      <xs:element minOccurs="0" name="ServiceCtrl" type="changeprimaryoffer:ServiceCtrl" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BA">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="AccountCode" type="common:AccountCode" />
            <xs:element name="BACode" type="common:BACode" />
            <xs:element minOccurs="0" name="BillAddr" type="common:BAAddrInfo" />
            <xs:element minOccurs="0" name="ApplyTime" type="common:DateTime" />
            <xs:element minOccurs="0" name="ExpireTime" type="common:DateTime" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="BAScenario" type="common:BAScenario" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="BillDelivery" type="common:BADelivery" />
            <xs:element minOccurs="0" name="DefaultFlag" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangePrimaryOfferResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OfferOrderInfo" type="subscribe:OfferOrderInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BatchChangePrimaryOfferRequest">
    <xs:sequence>
      <xs:element name="FileName" type="common:FileName" />
      <xs:element minOccurs="0" name="Account">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="PPSAcctInitBal" type="common:Balance" />
            <xs:element minOccurs="0" name="PPSAcctCredit" type="common:Balance" />
            <xs:element minOccurs="0" name="POSAcctInitBal" type="common:Balance" />
            <xs:element minOccurs="0" name="POSAcctCredit" type="common:Balance" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="NewPrimaryOffer">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="subscribe:OfferOrder">
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" type="subscribe:Product" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OptionalOffer">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="subscribe:OfferOrder">
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" type="subscribe:Product" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeletedOptionalOffer">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Id" type="common:OfferId" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ValidMode" type="subscribe:EffectMode" />
      <xs:element minOccurs="0" name="HandleChargeFlag" type="common:HandleChargeFlag" />
      <xs:element minOccurs="0" name="TaskTime" type="common:DateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceCtrl">
    <xs:sequence>
      <xs:element name="IsCoreBalance">
        <xs:simpleType>
          <xs:restriction base="xs:integer" />
        </xs:simpleType>
      </xs:element>
      <xs:element name="IsPromotionBal">
        <xs:simpleType>
          <xs:restriction base="xs:integer" />
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>