C#/Connected Services/ChangePrimaryOfferMgrService/ChangePrimaryOfferMgrService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://www.huawei.com/bme/cbsinterface/changeprimaryoffer" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:changeprimaryoffermgr="http://www.huawei.com/bme/cbsinterface/changeprimaryoffermgr" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://www.huawei.com/bme/cbsinterface/common" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.huawei.com/bme/cbsinterface/changeprimaryoffermgr" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:changeprimaryoffer="http://www.huawei.com/bme/cbsinterface/changeprimaryoffer" targetNamespace="http://www.huawei.com/bme/cbsinterface/changeprimaryoffermgr">
      <xs:import schemaLocation="ChangePrimaryOfferMgrService?xsd=CBSInterface_ChangePrimaryOffer.xsd" namespace="http://www.huawei.com/bme/cbsinterface/changeprimaryoffer" />
      <xs:element name="ChangePrimaryOfferRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="ChangePrimaryOfferRequest" type="changeprimaryoffer:ChangePrimaryOfferRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ChangePrimaryOfferResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
            <xs:element name="ChangePrimaryOfferResult" type="changeprimaryoffer:ChangePrimaryOfferResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BatchChangePrimaryOfferRequestMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RequestHeader" type="common:RequestHeader" />
            <xs:element name="BatchChangePrimaryOfferRequest" type="changeprimaryoffer:BatchChangePrimaryOfferRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BatchChangePrimaryOfferResultMsg">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ResultHeader" type="common:ResultHeader" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="ChangePrimaryOfferResultMessage">
    <part name="ChangePrimaryOfferResultMsg" element="changeprimaryoffermgr:ChangePrimaryOfferResultMsg" />
  </message>
  <message name="BatchChangePrimaryOfferRequestMessage">
    <part name="BatchChangePrimaryOfferRequestMsg" element="changeprimaryoffermgr:BatchChangePrimaryOfferRequestMsg" />
  </message>
  <message name="BatchChangePrimaryOfferResultMessage">
    <part name="BatchChangePrimaryOfferResultMsg" element="changeprimaryoffermgr:BatchChangePrimaryOfferResultMsg" />
  </message>
  <message name="ChangePrimaryOfferRequestMessage">
    <part name="ChangePrimaryOfferRequestMsg" element="changeprimaryoffermgr:ChangePrimaryOfferRequestMsg" />
  </message>
  <portType name="ChangePrimaryOfferMgr">
    <operation name="ChangePrimaryOffer">
      <input message="changeprimaryoffermgr:ChangePrimaryOfferRequestMessage" />
      <output message="changeprimaryoffermgr:ChangePrimaryOfferResultMessage" />
    </operation>
    <operation name="BatchChangePrimaryOffer">
      <input message="changeprimaryoffermgr:BatchChangePrimaryOfferRequestMessage" />
      <output message="changeprimaryoffermgr:BatchChangePrimaryOfferResultMessage" />
    </operation>
  </portType>
  <binding name="ChangePrimaryOfferMgrBinding" type="changeprimaryoffermgr:ChangePrimaryOfferMgr">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ChangePrimaryOffer">
      <soap:operation soapAction="changePrimaryOffer" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BatchChangePrimaryOffer">
      <soap:operation soapAction="batchChangePrimaryOffer" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ChangePrimaryOfferMgrSoap12Binding" type="changeprimaryoffermgr:ChangePrimaryOfferMgr">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ChangePrimaryOffer">
      <soap12:operation soapAction="changePrimaryOffer" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
    <operation name="BatchChangePrimaryOffer">
      <soap12:operation soapAction="batchChangePrimaryOffer" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output />
    </operation>
  </binding>
  <service name="ChangePrimaryOfferMgrService">
    <port name="ChangePrimaryOfferMgrServiceSoap12Port" binding="changeprimaryoffermgr:ChangePrimaryOfferMgrSoap12Binding">
      <soap12:address location="http://http://10.13.231.97:8080/services/ChangePrimaryOfferMgrService.ChangePrimaryOfferMgrServiceSoap12Port/" />
    </port>
    <port name="ChangePrimaryOfferMgrServicePort" binding="changeprimaryoffermgr:ChangePrimaryOfferMgrBinding">
      <soap:address location="http://http://10.13.231.97:8080/services/ChangePrimaryOfferMgrService.ChangePrimaryOfferMgrServicePort/" />
    </port>
  </service>
</definitions>