C#/Connected Services/AR4BMPInterfaceService/AR4BMPInterfaceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ar="http://cbs.huawei.com/ar/wsservice/bmpinterface" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://cbs.huawei.com/ar/wsservice/bmpinterface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Billing2arRequest">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Billing2arReqList" type="ar:Billing2arReqList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Billing2arReqList">
    <xs:all>
      <xs:element minOccurs="0" name="LogId" type="xs:string" />
      <xs:element name="BillCycleId" type="xs:string" />
      <xs:element name="CommandSeq" type="xs:string" />
      <xs:element name="FlowId" type="xs:string" />
      <xs:element name="AcctId" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ForfeitRequest">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ForfeitReqList" type="ar:ForfeitReqList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ForfeitReqList">
    <xs:sequence>
      <xs:element name="SubId" type="xs:string" />
      <xs:element name="Msisdn" type="xs:string" />
      <xs:element name="AcctId" type="xs:string" />
      <xs:element name="CustId" type="xs:string" />
      <xs:element name="Amount" type="xs:string" />
      <xs:element name="ForfeitType" type="xs:string" />
      <xs:element name="Src" type="xs:string" />
      <xs:element name="AdjustId" type="xs:string" />
      <xs:element name="ItemId" type="xs:string" />
      <xs:element maxOccurs="unbounded" name="SeqList" type="ar:SeqList" />
      <xs:element minOccurs="0" name="Remark" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SeqList">
    <xs:all>
      <xs:element name="SeqId" type="xs:string" />
      <xs:element name="Amount" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="PaymentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="LogId" type="xs:string" />
      <xs:element minOccurs="0" name="AcctId" type="xs:string" />
      <xs:element minOccurs="0" name="AcctCode" type="xs:string" />
      <xs:element minOccurs="0" name="Msisdn" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceNo" type="xs:string" />
      <xs:element minOccurs="0" name="AcctBalanceType" type="xs:string" />
      <xs:element minOccurs="0" name="Validity" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentType" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" type="xs:string" />
      <xs:element maxOccurs="unbounded" name="PaymentDetail" type="ar:PaymentDetailInfo" />
      <xs:element minOccurs="0" name="Channel" type="xs:integer" />
      <xs:element minOccurs="0" name="ChannelID" type="xs:integer" />
      <xs:element minOccurs="0" name="BranchCode" type="xs:string" />
      <xs:element minOccurs="0" name="DepositType" type="xs:integer" />
      <xs:element minOccurs="0" name="TransLevel" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentDetailInfo">
    <xs:all>
      <xs:element name="PaymentMethod" type="xs:string" />
      <xs:element name="Amount" type="xs:string" />
      <xs:element minOccurs="0" name="MeasureId" type="xs:string" />
      <xs:element minOccurs="0" name="BankCode" type="xs:string" />
      <xs:element minOccurs="0" name="CardNo" type="xs:string" />
      <xs:element minOccurs="0" name="CardBatchNo" type="xs:string" />
      <xs:element minOccurs="0" name="CardType" type="xs:string" />
      <xs:element minOccurs="0" name="ApproveCode" type="xs:string" />
      <xs:element minOccurs="0" name="AdditionalInfo" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" type="xs:string" />
      <xs:element minOccurs="0" name="RefNumber" type="xs:string" />
      <xs:element minOccurs="0" name="RetailerInfo" type="xs:string" />
      <xs:element minOccurs="0" name="ChequeNo" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="PaymentResult">
    <xs:all>
      <xs:element name="logId" type="xs:string" />
      <xs:element minOccurs="0" name="ExtlogId" type="xs:string" />
      <xs:element minOccurs="0" name="TrxAmt" type="xs:string" />
      <xs:element minOccurs="0" name="AdvAmt" type="xs:string" />
      <xs:element minOccurs="0" name="DepAmt" type="xs:string" />
      <xs:element minOccurs="0" name="BllAmt" type="xs:string" />
      <xs:element minOccurs="0" name="OsAmt" type="xs:string" />
      <xs:element minOccurs="0" name="AccountCredit" type="xs:string" />
      <xs:element minOccurs="0" name="TaxAmt" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="BatchPaymentRequest">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PaymentList" type="ar:PaymentRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BatchPaymentResult">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="SubPaymentResultList" type="ar:PaymentResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdjustmentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="LogId" type="xs:string" />
      <xs:element minOccurs="0" name="AcctId" type="xs:string" />
      <xs:element minOccurs="0" name="SubId" type="xs:string" />
      <xs:element minOccurs="0" name="Msisdn" type="xs:string" />
      <xs:element name="Amount" type="xs:string" />
      <xs:element minOccurs="0" name="ItemId" type="xs:string" />
      <xs:element minOccurs="0" name="AdjustFlag" type="xs:string" />
      <xs:element minOccurs="0" name="AdjustReason" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceNo" type="xs:string" />
      <xs:element minOccurs="0" name="AutoSettle" type="xs:string" />
      <xs:element minOccurs="0" name="CRDR" type="xs:string" />
      <xs:element minOccurs="0" name="AdjustType" type="xs:string" />
      <xs:element minOccurs="0" name="ReasonCode" type="xs:string" />
      <xs:element minOccurs="0" name="TransLevel" type="xs:integer" />
      <xs:element minOccurs="0" name="DueDate" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdjustmentResult">
    <xs:all>
      <xs:element name="logId" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceNo" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="QueryBalanceRequest">
    <xs:sequence>
      <xs:element name="AcctId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryBalanceResult">
    <xs:all>
      <xs:element name="BalanceResultList">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="BalanceResultValue">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="AcctId" type="xs:string" />
                  <xs:element minOccurs="0" name="Msisdn" type="xs:string" />
                  <xs:element minOccurs="0" name="SubId" type="xs:string" />
                  <xs:element name="TransType" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>ADV,DEP,OS</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Amount" type="xs:long" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="VoidRequest">
    <xs:sequence>
      <xs:choice>
        <xs:element minOccurs="0" name="LogId" type="xs:string" />
        <xs:element minOccurs="0" name="ExternLogID" type="xs:string" />
      </xs:choice>
      <xs:element minOccurs="0" name="Remark" type="xs:string" />
      <xs:element minOccurs="0" name="Channel" type="xs:integer" />
      <xs:element minOccurs="0" name="ReasonCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VoidResult">
    <xs:all>
      <xs:element name="LogId" type="xs:string" />
      <xs:element minOccurs="0" name="AccountCredit" type="xs:long" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="QueryInvoiceInfoRequest">
    <xs:sequence>
      <xs:element name="AcctId" type="xs:string" />
      <xs:element name="BillCycleID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryInvoiceInfoResult">
    <xs:all>
      <xs:element name="AcctId" type="xs:string" />
      <xs:element name="BillCycleID" type="xs:string" />
      <xs:element minOccurs="0" name="ArrearsAmt" type="xs:string" />
      <xs:element minOccurs="0" name="PaidAmt" type="xs:string" />
      <xs:element minOccurs="0" name="AdjustmentAmt" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="QueryTranDenominationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Msisdn" type="xs:string" />
      <xs:element minOccurs="0" name="ChannelID" type="xs:int" />
      <xs:element minOccurs="0" name="TranDirection" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryTranDenominationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalAmountForDay" type="xs:long" />
      <xs:element minOccurs="0" name="TotalAmountForMonth" type="xs:long" />
      <xs:element minOccurs="0" name="TimesForDay" type="xs:int" />
      <xs:element minOccurs="0" name="TimesForMonth" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DenominationList">
        <xs:complexType>
          <xs:all>
            <xs:element minOccurs="0" name="Amount" type="xs:long" />
            <xs:element minOccurs="0" name="ValidityDays" type="xs:int" />
            <xs:element minOccurs="0" name="Surcharge1" type="xs:long" />
            <xs:element minOccurs="0" name="Surcharge2" type="xs:long" />
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>