C#/Connected Services/AR4BMPInterfaceService/ARCommon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:common="http://cbs.huawei.com/ar/wsservice/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://cbs.huawei.com/ar/wsservice/common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestHeader">
    <xs:annotation>
      <xs:documentation>for user information use(add,modify,delete)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SerialNo">
        <xs:annotation>
          <xs:documentation>request serial number,unique</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="RequestFrom" type="xs:string">
        <xs:annotation>
          <xs:documentation>the source of interface:0 for CC; 1 for BMP</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OperatorId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Operator id</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DepartmentId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Department id</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Version" type="xs:string">
        <xs:annotation>
          <xs:documentation>Version,default version is 0</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Remark" type="xs:string">
        <xs:annotation>
          <xs:documentation>Remark information,optional</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Param">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="value" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="TenantId" type="xs:integer" />
      <xs:element minOccurs="0" name="Language" type="xs:string" />
      <xs:element minOccurs="0" name="CommandId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="TransactionId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="SequenceId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="RequestType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ThirdPartyID">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="SessionEntity">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name">
              <xs:simpleType>
                <xs:restriction base="xs:string" />
              </xs:simpleType>
            </xs:element>
            <xs:element name="Password">
              <xs:simpleType>
                <xs:restriction base="xs:string" />
              </xs:simpleType>
            </xs:element>
            <xs:element name="RemoteAddress" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultHeader">
    <xs:sequence>
      <xs:element name="SerialNo" type="xs:string" />
      <xs:element name="ResultCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>Indicates a code of success/failure, failure reasons.  0: success              Other values: failure reasons</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ResultDesc" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" />
      <xs:element name="Version" type="xs:string" />
      <xs:element minOccurs="0" name="TenantId" type="xs:integer" />
      <xs:element minOccurs="0" name="Language" type="xs:string" />
      <xs:element minOccurs="0" name="CommandId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="64" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="TransactionId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="SequenceId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:long">
        <xs:annotation>
          <xs:documentation>CBS????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>